{% load airlock %}
{% load django_vite %}

{% #card title="Recent activity" class="mt-5" %}
  {% if activity %}
    {% #datatable paging per_page="10" column_filter searchable sortable %}
      <thead>
        <tr>
          <th>
            <div class="flex flex-row gap-2 items-center">
              Time
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              User
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              Action
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              Details
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for log in activity %}
          <tr>
            <td>{{ log.created_at|date:'Y-m-d H:i' }}</td>
            <td>{{ log.user }}</td>
            <td>{{ log.description }}</td>
            <td>
              <ul>
                {% if log.path %}<li><b>path:</b> {{ log.path }}</li>{% endif %}
                {% for k,v in log.extra.items %}
                  <li><b>{{ k }}:</b> {{ v }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    {% /datatable %}
  {% else %}
    {% #list_group %}
      {% list_group_empty title="No activity" description="There has been no recent activity on this workspace" %}
    {% /list_group %}
  {% endif %}
{% /card %}

{% vite_asset "assets/src/scripts/datatable.js" %}
