{# hide default button, as we are going to autoshow the modal anyway #}
{% fragment as button %}
{% endfragment %}
<style>
  div.filetype-radio div { display: inline; }
  div.filetype-radio label { display: inline; }
</style>
{% #modal id="addRequestFile" custom_button=button autoshow=True %}
  {% #card container=True title="Add Files to Request" %}
    <form action="{{ add_file_url }}" method="POST" aria-label="add-file-form">
      {% csrf_token %}
      {{ form.next_url }}
      {{ formset.management_form }}
      {% #list_group %}
        {% for name, reason in files_ignored.items %}
          {% #list_group_item %}
            <div class="flex items-center gap-2 justify-between">
              <span>{{ name }}</span>
              <span class="flex flex-row">{{ reason }}</span>
            </div>
          {% /list_group_item %}
        {% endfor %}
        {% for formset_form in formset %}
          {% #list_group_item %}
            <div class="flex items-center gap-2 justify-between">
              <span>{{ formset_form.file.value }}</span>
              {{ formset_form.file }}
              {% form_radios field=formset_form.filetype class="flex flex-row" %}
            </div>
          {% /list_group_item %}
        {% endfor %}
      {% /list_group %}

      {% if not no_valid_files %}
        {% form_select class="w-full max-w-lg mx-auto" label="Select a file group" field=form.filegroup choices=form.filegroup.field.choices %}
        {% form_input class="w-full max-w-lg mx-auto" label="Or create a new file group" field=form.new_filegroup %}
      {% endif %}

      <div class="mt-2">
        {% #button type="submit" variant="success" id="add-file-button" disabled=no_valid_files %}Add Files to Request{% /button %}
        {% #button variant="danger" type="cancel" %}Cancel{% /button %}
      </div>
    </form>
  {% /card %}
{% /modal %}
