{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block metatitle %}Airlock{% endblock metatitle %}</title>

    {% block extra_meta %}{% endblock %}

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/base.js" %}

    <link rel="stylesheet" href="{% static 'assets/components.css' %}">

    {% block extra_styles %}{% endblock %}

    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="icon" href="{% static "icon.svg" %}" type="image/svg+xml">
  </head>

  <body class="flex flex-col min-h-screen text-slate bg-white">

    {% include '_includes/header.html' %}

    <main class="min-h-[66vh] flex-grow pb-12 bg-slate-100">
      <div class="container xl:max-w-screen-xl pt-4 pb-4" id="content">
        {% alerts messages=messages %}
        {% block content %}{% endblock %}
      </div>
      {% block full_width_content %}{% endblock full_width_content %}
    </main>

    {% block extra_js %}{% endblock %}
  </body>
</html>
