{% extends "base.html" %}

{% block metatitle %}Login | OpenSAFELY Airlock{% endblock metatitle %}

{% block content %}
  <section class="flex flex-col max-w-2xl gap-y-4">
    <h1 class="text-3xl break-words font-bold text-slate-900 mt-2 md:mt-0 md:col-span-3 md:text-4xl">
      Login
    </h1>

    {% #card title="Login with Single Use Token" subtitle="Log in from Level 4 environments with a Single Use Token" container=True class="md:col-span-2" %}
      {% if dev_users_file %}
        {% #alert variant="warning" title="Development login mode" class="mb-6" dismissible=True %}
          Use credentials specified in:<br>
          <small><code>{{ dev_users_file }}</code></small>
        {% /alert %}
      {% endif %}
      <form class="gap-2 flex-wrap md:flex-nowrap" method="POST" action="{% url 'login' %}" >
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next_url }}" />

        {% form_input type="text" field=token_login_form.user label="GitHub username or Email address" class="mb-3" placeholder="opensafely" input_class="max-w-md" %}
        {% form_input type="text" field=token_login_form.token label="Single Use Token" placeholder="three random words" show_placeholder=True class="mb-3" input_class="max-w-md" %}

        {% #button type="submit" variant="primary-outline" %}
          Log in with token
        {% /button %}
      </form>
      <div class="prose prose-sm mb-6">
        <p>
          You cannot access Github to login from Level 4. Instead, you
          must generate a single user token to log in with.
        </p>
        <p>
          To do so, you will need to login with Github on your usual
          browser, outside Level 4. Then click on the Account drop down
          on the top right, and click Settings.  Then click the button
          "Generate Single User Token".  You can then use that token to
          login on Level 4.
        </p>
      </div>
    {% /card %}

{% endblock content %}
