{% extends "base.html" %}

{% block metatitle %}All requests in workspace {{ workspace }} |  Airlock{% endblock metatitle %}

{% block content %}

  {% fragment as custom_button %}
    {% if request_filter %}
      <div id="clear-filter" class="relative group cursor-pointer ml-auto">
        <a class="inline-flex bg-oxford-50 rounded-md p-1 text-oxford-700 text-sm" href="{{ filter_url }}"> {{ request_filter|title }} {% icon_x_circle_solid class="text-oxford-600 h-5 w-5" %}
        </a>
        {% tooltip position="-bottom-3" content="Clear filter" %}
      </div>
    {% endif %}

    <form action="{{ filter_url }}" method="GET" aria-label="filter-form">
      {% csrf_token %}
      <select name="status" id="id-status" onchange="this.form.submit()" class="text-oxford text-sm rounded-md opacity-75 px-2 py-1">
        <option value="" hidden selected>Filter by status</option>
        {% for status, description in status_choice.items %}
          <option value="{{ status }}" class="border rounded-md text-oxford-600 bg-oxford-50">
            {{  description|title }}
          </option>
        {% endfor %}
      </select>
    </form>
  {% endfragment %}

  {% #card title="All requests in Workspace: "|add:workspace custom_button=custom_button %}
    {% #list_group id="requests-workspace" %}
      {% for request in requests_for_workspace|dictsortreversed:"created_at" %}
        {% fragment as title %}{{ request.get_short_id }} by {% airlock_user user=request.author %}{% endfragment %}
        {% #airlock_list_group_rich_item title=title url=request.get_url status_text=request.status.description %}
          <div class="group-hover:pointer-events-none ml-auto sm:flex-row -mt-4 -mb-6 -mr-5">
            {% airlock_list_group_rich_item date=request.created_at %}
              </div>
            {% /airlock_list_group_rich_item %}

        {% empty %}
          {% list_group_empty title="No requests" description="There are no requests in this workspace" %}
        {% endfor %}
      {% /list_group %}
    {% /card %}
  {% endblock content %}
