{% extends "base.html" %}

{% load airlock %}

{% block metatitle %}Reviews |  Airlock{% endblock metatitle %}

{% block content %}
  <div class="flex flex-col gap-4 max-w-3xl">
    {% airlock_header title="Requests for review" %}

    {% #card title="Outstanding requests awaiting review" %}
      {% #list_group id="outstanding-requests" %}
        {% for release_request, request_progress in outstanding_requests %}
          {% fragment as title %}{{ release_request.get_short_id }} by {{ release_request.author }}{% endfragment %}
          {% fragment as status %}{% pill variant="primary" text=release_request.status.description %}{% endfragment %}
          {% #list_group_rich_item type="Outstanding request" title=title url=release_request.get_url custom_status=status %}
            <div class="flex flex-col gap-1 text-xs text-slate-600 sm:flex-row">
              <div class="flex flex-row gap-1 w-full">
                <dt>Workspace:</dt>
                <dd class="flex flex-row items-start overflow-hidden sm:max-w-[50%]">
                  <span class="truncate">{{ release_request.workspace }}</span>
                </dd>
                <dt class="sr-only">Your review:</dt>
                <dd class="ml-auto">
                  {{ request_progress }}
                </dd>
              </div>
            </div>
          {% /list_group_rich_item %}
        {% empty %}
          {% list_group_empty title="No outstanding requests" description="There are no outstanding requests awaiting review" %}
        {% endfor %}
      {% /list_group %}
    {% /card %}

    {% #card title="Requests returned for changes/questions" %}
      {% #list_group id="returned-requests" %}
        {% for release_request in returned_requests %}
          {% fragment as title %}{{ release_request.get_short_id }}{% endfragment %}
          {% fragment as status %}{% pill variant="warning" text=release_request.status.description %}{% endfragment %}
          {% #list_group_rich_item type="Returned request" title=title url=release_request.get_url custom_status=status %}
            <div class="flex flex-col gap-1 text-xs text-slate-600 sm:flex-row">
              <div class="flex flex-row gap-1 w-full">
                <dt>Workspace:</dt>
                <dd class="flex flex-row items-start overflow-hidden sm:max-w-[50%]">
                  <span class="truncate">{{ release_request.workspace }}</span>
                </dd>
              </div>
            </div>
          {% /list_group_rich_item %}
        {% empty %}
          {% list_group_empty title="No returned requests" description="There are no returned requests awaiting re-submission" %}
        {% endfor %}
      {% /list_group %}
    {% /card %}

    {% if approved_requests %}
      {% #card title="Approved requests awaiting release" %}
        {% #list_group id="returned-requests" %}
          {% for release_request in approved_requests %}
            {% fragment as title %}{{ release_request.get_short_id }}{% endfragment %}
            {% fragment as status %}{% pill variant="success" text=release_request.status.description %}{% endfragment %}
            {% #list_group_rich_item type="Approved request" title=title url=release_request.get_url custom_status=status %}
              <div class="flex flex-col gap-1 text-xs text-slate-600 sm:flex-row">
                <div class="flex flex-row gap-1 w-full">
                  <dt>Workspace:</dt>
                  <dd class="flex flex-row items-start overflow-hidden sm:max-w-[50%]">
                    <span class="truncate">{{ release_request.workspace }}</span>
                  </dd>
                </div>
              </div>
            {% /list_group_rich_item %}
          {% endfor %}
        {% /list_group %}
      {% /card %}
    {% endif %}

  </div>
{% endblock content %}
