{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col gap-8 max-w-3xl">
    {% article_header title="Requests" %}

    {% #card title="Requests by "|add:request.user.username %}
      {% #list_group id="authored-requests" %}
        {% for request in authored_requests %}
          {% #list_group_item href=request.get_url %}{{ request.workspace }}: {{ request.status.name }}{% /list_group_item %}
        {% empty %}
          {% list_group_empty title="No requests" description="You do not have any authored requests" %}
        {% endfor %}
      {% /list_group %}
    {% /card %}

    {% if request.user.output_checker %}
      {% #card title="Outstanding requests awaiting review" %}
        {% #list_group id="outstanding-requests" %}
          {% for request in outstanding_requests %}
            {% #list_group_item href=request.get_url %}{{ request.workspace }} by {{ request.author }}{% /list_group_item %}
          {% empty %}
            {% list_group_empty title="No outstanding requests" description="There are no outstanding requests awaiting review" %}
          {% endfor %}
        {% /list_group %}
      {% /card %}
    {% endif %}
  </div>
{% endblock content %}
