{% extends "base.html" %}

{% block metatitle %}Workspaces for {{ request.user.username }} |  Airlock{% endblock metatitle %}

{% block content %}
  <div class="flex flex-col gap-4 max-w-3xl">
    {% airlock_header title="Workspaces for "|add:request.user.username %}

    {% for project, workspaces in projects.items %}
      {% #card title=project.display_name %}
        {% #list_group id="workspaces" %}
          {% for workspace in workspaces %}
            {% #list_group_item href=workspace.get_url %}{{ workspace.display_name }}{% /list_group_item %}
          {% endfor %}
        {% /list_group %}
      {% /card %}
    {% empty %}
      {% #card title="Workspaces" container=True %}
        {% list_group_empty title="No workspaces available" description="You do not have access to any workspaces" %}
      {% /card %}
    {% endfor %}
  </div>
{% endblock content %}
