{% extends "base.html" %}

{% block metatitle %}{{ workspace_type|title }} for {% airlock_user user=request.user %} |  Airlock{% endblock metatitle %}

{% block content %}
  <div class="flex flex-col gap-4 max-w-3xl">
    {% airlock_header title=workspace_type|title|add:" for "|add:request.user.fullname %}
    {% for project, workspaces in projects.items %}
      {% #card %}
        <details class="group" open>
          <summary class="list-none">
            {% fragment as custom_button %}<span class="opacity-75 ml-1"><img height="30" width="30" class="inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
              <img height="30" width="30" class="hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt=""></span>{% endfragment %}
            {% card title=project.display_name custom_button=custom_button %}
              </summary>
              <ul>
                <li>
                  {% #list_group id="workspaces" %}
                    {% for workspace in workspaces %}
                      {% #list_group_item href=workspace.get_url %}{{ workspace.display_name }}{% /list_group_item %}
                    {% endfor %}
                  {% /list_group %}
                </li>
              </ul>
              </details>
            {% /card %}
      {% empty %}
        {% #card title=workspace_type.title container=True %}
          {% list_group_empty title="No "|add:workspace_type|add:" available" description="You do not have access to any "|add:workspace_type %}
        {% /card %}
      {% endfor %}
      </div>
    {% endblock content %}

