# We ignore all hidden files/directories in the project root. Specific
# exceptions to this can be added as negated patterns below.
/.*

# Backup files
**/*~
**/*#
**/.#*

# Python files
**/__pycache__
**/*.pyc
/pyproject.toml
/tests

# Tooling effluent
/htmlcov
/coverage

# Local application state
/venv
/node_modules
/workdir
