/.env

# Python
__pycache__/
*.pyc
/.venv/

# Tooling effluent
/.coverage

# browser install location in docker
.playwright-browsers/
# playwright traces
test-results/

# docker temp config
/job-server/.env.jobserver

# docs
/mkdocs_build/

# Node.js
node_modules/
assets/out

# Hypothesis outputs
.hypothesis

