/.env

# Python
__pycache__/
*.pyc
/.venv/

# Tooling effluent
/.coverage

# browser install location in docker
.playwright-browsers/

# docker temp config
/job-server/.env.jobserver

# docs
/mkdocs_build/
