# Ensure that production versions are always respected even when these files
# are compiled separately
--constraint requirements.prod.txt

django-debug-toolbar
django-debug-toolbar-template-profiler
ruff
pip-tools
pytest
pytest-cov
pytest-django
pytest-playwright
responses
# Currently using our fork of django_coverage_plugin, pending
# upstream PR https://github.com/nedbat/django_coverage_plugin/pull/93
https://github.com/opensafely-core/django_coverage_plugin/archive/153a0ca6c02f7f01831568a546c848c4a3f082cd.zip
