ansi2html
Django
django-vite
slippers
django-extensions
django-htmx
django-markdownify
whitenoise
gunicorn
opensafely-pipeline@https://github.com/opensafely-core/pipeline/archive/refs/tags/v2025.01.21.182725.zip
requests
pydantic<2
ulid
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-sdk
# docs
mkdocs
mkdocs-material
