# Ensure that production versions are always respected even when these files
# are compiled separately
--constraint requirements.prod.txt

django-debug-toolbar
django-debug-toolbar-template-profiler
djhtml
httpx
hypothesis
ruff
pip-tools
playwright==1.52.0
pytest
pytest-cov
pytest-django
pytest-freezer
pytest-playwright
responses
# Currently using our fork of django_coverage_plugin, pending
# upstream PR https://github.com/nedbat/django_coverage_plugin/pull/93
https://github.com/opensafely-core/django_coverage_plugin/archive/153a0ca6c02f7f01831568a546c848c4a3f082cd.zip

# Type-checking and type stubs
mypy
django-stubs[compatible-mypy]
types-requests

# The following is a work-around for a bug in pip-compile. For more information, see:
# https://github.com/jazzband/pip-tools/issues/2176
pip==25.0.1
