Django
django-vite
slippers
django-extensions
django-htmx
whitenoise
gunicorn
opensafely-pipeline@https://github.com/opensafely-core/pipeline/archive/refs/tags/v2024.03.19.153938.zip
requests
pydantic<2.0
ulid
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlite3
opentelemetry-sdk
# docs
mkdocs
mkdocs-material
