{% if field %}
  {% setvar label_for=field.id_for_label %}
  {% setvar radios_id=field.auto_id %}
  {% setvar radios_name=field.html_name %}
{% else %}
  {% setvar label_for=id %}
  {% setvar radios_id=id %}
  {% setvar radios_name=name %}
{% endif %}

{% if label %}
  {% setvar radios_label=label %}
{% elif field.label %}
  {% setvar radios_label=label %}
{% else  %}
  {% setvar radios_label="" %}
{% endif %}

<div {% attrs class %}>
  {% if radios_label %}
    <label
        class="inline-block font-semibold text-lg text-slate-900 cursor-pointer"
        for="{{ label_for }}"
      >
        {{ radios_label }}

        {% if required %}
          <span
            aria-hidden="true"
            class="text-bn-ribbon-700 font-bold"
          >*</span>
        {% endif %}
      </label>
  {% endif %}

{% for value, label in field.field.choices %}

  {% if field.value == value %}
  {% setvar checked=True %}
  {% else %}
  {% setvar checked=False %}
  {% endif %}

  {% with id=forloop.counter|stringformat:"s" %}
  {% include "_components/form/radio.html" with id="id_"|add:radios_name|add:id name=radios_name value=value label=label checked=checked %}
  {% endwith %}

{% endfor %}

{% if hint_text %}
  <div class="mt-2 prose prose-sm prose-oxford">
    {{ hint_text }}
  </div>
{% endif %}
</div>
