{% load django_vite %}
{% load static %}

<style>
  .clusterize-table-wrapper td.datatable-row-number {
    text-align: right;
    color: rgb(186 189 197);
  }

  /* Make the header stick to the top */
  .clusterize-table-wrapper thead tr {
    position: sticky;
    z-index: 1;
  }
  .clusterize-table-wrapper thead tr:first-child {
    top: 0;
  }

  /* Ensure the correct sort icon displays */
  .clusterize-table-wrapper .clusterize-table-sorter .datatable-icon--ascending,
  .clusterize-table-wrapper .clusterize-table-sorter .datatable-icon--descending,
  .clusterize-table-wrapper .clusterize-table-sorter .datatable-icon--sorting{
    display: none;
  }
  .clusterize-table-wrapper .sort-ascending .datatable-icon--ascending {
    display: block;
  }
  .clusterize-table-wrapper .sort-descending .datatable-icon--descending {
    display: block;
  }
  .clusterize-table-wrapper .table-sorting .datatable-icon--sorting {
    display: block;
  }
  .clusterize-table-wrapper .sort-ascending .datatable-icon--no-sort,
  .clusterize-table-wrapper .sort-descending .datatable-icon--no-sort,
  .clusterize-table-wrapper .table-sorting .datatable-icon--no-sort  {
    display: none;
  }

  /* Enable scrolling on the scroll area (unless loading to avoid page jank) */
  #scrollArea {
    max-height: calc(100vh - 50px); /* 50px to account for the height of the search input*/
    overflow: auto;
  }
  .table-loading #scrollArea {
    overflow: hidden;
  }
  .table-loading table {
    min-width: 100%;
  }

  /* Effects when loading the tables */
  .clusterize-table-wrapper {
    position:relative;
  }
  .loading-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
    background: white;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  .table-loading .loading-indicator {
    opacity: 1;
  }
  .table-loading .table-loading-message{
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out 100ms forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  /* Centering message that appears when loading or no data provided */
  .clusterize-no-data td{
    text-align: center;
  }

  /* Searching... icon */
  .search-wrapper {
    position: relative;
  }
  .search-wrapper .icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 5px;
    display: none;
  }
  .search-wrapper.searching .icon {
    display: block;
  }
  .search-wrapper.searching input::-webkit-search-cancel-button {
    display:none;
  }

  /* Search results message */
  .search-results {
    color: #4d4d4d;
    font-size: 0.9rem;
    padding-left: 10px;
  }

  /* The remaining style are the minimal things required by the clusterize.js plugin */
  /**
  * Avoid vertical margins for extra tags
  * Necessary for correct calculations when rows have nonzero vertical margins
  */
  .clusterize-extra-row{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* By default extra tag .clusterize-keep-parity added to keep parity of rows.
  * Useful when used :nth-child(even/odd)
  */
  .clusterize-extra-row.clusterize-keep-parity{
    display: none;
  }

  /* During initialization clusterize adds tabindex to force the browser to keep focus
  * on the scrolling list, see issue #11
  * Outline removes default browser's borders for focused elements.
  */
  .clusterize-content{
    outline: 0;
    counter-reset: clusterize-counter;
  }
</style>
<div class="clusterize-table-wrapper min-w-full table-loading">
  <div class="loading-indicator htmx-indicator">
    <div class="table-loading-message">
      Loading...
      <img height="16" width="16" class="icon animate-spin" src="{% static 'icons/progress_activity.svg' %}" alt="">
    </div>
  </div>
  <span class="search-wrapper">
    <input type="search" id="search-table" placeholder="Type to search table..."/>
    <img class="icon animate-spin" src="/static/icons/progress_activity.svg" alt="">
  </span>
  <span class="search-results">
  </span>
  <div id="scrollArea">
    <table class="divide-y divide-slate-300
                  [&_td]:text-slate-700 [&_td]:text-sm [&_td]:p-2
                  [&_tr]:border-t [&_tr]:border-slate-200 first:[&_tr]:border-t-0 [&_tr]:bg-white even:[&_tr]:bg-slate-50
                  [&_th]:bg-slate-200 [&_th]:text-slate-900 [&_th]:text-sm [&_th]:font-semibold [&_th]:leading-5 [&_th]:text-left [&_th]:whitespace-nowrap [&_th]:w-auto">
      <thead id="headersArea">
        {{ header_row }}
      </thead>
      <tbody id="contentArea" class="clusterize-content">
      </tbody>
    </table>
    {% comment %}
    The csv clusterize renderer relies on the data being passed in a table with
    id="clusterize-table-content". display:none ensures the browser doesn't try
    to render it (which is the costly thing we avoid with a virtualized table)
    {% endcomment %}
    <table id="clusterize-table-content" style="display:none">
      <tbody>
        {{ children }}
      </tbody>
    </table>
  </div>
</div>
{% vite_asset "assets/src/scripts/clusterize-table.js" %}