{% load static %}

<div class="table-container">
  <p style="padding:24px;font-family:sans-serif;" data-datatable-spinner>
    Loading table data...
    <img height="16" width="16" class="icon animate-spin" src="{% static 'icons/progress_activity.svg' %}" alt="">
  </p>
  <div style="display:none" data-datatable-wrapper >
    <table
      class="{{ class }}"
      data-datatable
      {% if per_page %}
        data-per-page="{{ per_page }}"
      {% endif %}
      {% attrs id data-column-filter=column_filter data-sortable=sortable data-searchable=searchable %}
    >
      {{ children }}
    </table>
  </div>
</div>
