<header class="header">
  <h1 class="header__title">
    {{ title }}
  </h1>

  {% if context == "request" and workspace.get_url %}
    <a class="header__link header__nav-link" href="{{ workspace.get_url }}" id="workspace-home-button">
      &larr; Back to workspace
    </a>
  {% elif context == "workspace" and current_request.get_url %}
    <a class="header__link header__nav-link" href="{{ current_request.get_url }}" id="current-request-button">
      View current release request &rarr;
    </a>
  {% elif context == "repo" %}
    {% if return_url %}
      <a class="header__link header__nav-link" href="{{ return_url }}" id="return-button">
        &larr; Back
      </a>
    {% else %}
      {% if current_request.get_url %}
        <a class="header__link header__nav-link" href="{{ current_request.get_url }}" id="current-request-button">
          View current release request &rarr;
        </a>
      {% elif workspace.get_url %}
        <a class="header__link header__nav-link" href="{{ workspace.get_url }}" id="workspace-home-button">
          View workspace &rarr;
        </a>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if context == "request" or context == "workspace" %}
    <div class="header__subtitle">

      {% if context == "request" %}
        <dl class="heading__meta">
          <div>
            <dt>
              <span class="sr-only">Workspace</span>
              <img class="icon" src="/static/icons/stacks.svg" alt="">
            </dt>
            <dd>{{ workspace }}</dd>
          </div>
          <div>
            <dt>
              <span class="sr-only">User</span>
              <img class="icon" src="/static/icons/person.svg" alt="">
            </dt>
            <dd>{{ release_request.author }}</dd>
          </div>
          <div>
            <dt>
              <span class="sr-only">ID</span>
              <img class="icon" src="/static/icons/token.svg" alt=""></dt>
            <dd>{{ release_request.id }}</dd>
          </div>
        </dl>
      {% endif %}

      {% if context == "workspace" and workspace.get_requests_url %}
        <a class="header__link" href="{{ workspace.get_requests_url }}" id="requests-workspace-button">
          View all release requests for workspace
        </a>
      {% endif %}

    </div>
  {% endif %}

  {% if children %}
    <div class="header__actions">
      {{ children }}
    </div>
  {% endif %}
</header>
