@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  src: url("/static/assets/fonts/material-symbols-sharp.woff2") format("woff2");
}

.material-symbols-sharp {
  direction: ltr;
  font-family: "Material Symbols Sharp";
  font-size: 24px;
  font-style: normal;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
