/* https://fonts.google.com/icons?icon.size=24&icon.color=%23000000&icon.style=Sharp */
.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}
.icons--sort {
  width: 16px;
  height: 16px;
}
