{% load django_vite %}
{% load static %}
{% load airlock %}

{% #card title=path_item.name container=True %}
  {% #datatable column_filter searchable sortable %}
    <thead>
      <tr>
        <th>
          <div class="flex flex-row gap-2 items-center">
            File
            <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
              {% datatable_sort_icon %}
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for path in path_item.children %}
        <tr>
          <td class="name"><a class="{{ path.html_classes }}" href="{{ path.url }}">{{ path.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  {% /datatable %}
{% /card %}

{% vite_hmr_client %}
{% vite_asset "assets/src/scripts/datatable.js" %}
<script src="{% static 'assets/file_browser/dir.js' %}"></script>
