{% load django_vite %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'assets/file_browser/dir.css' %}">
{% endblock %}

{% #card title=path_item.name container=True %}
  {% if not path_item.children %}
    This directory is empty
  {% else %}

    {% include "file_browser/_includes/directory_table/repo.html" %}

    {% vite_asset "assets/src/scripts/components.js" app="job_server" %}

    <script src="{% static 'assets/file_browser/dir.js' %}"></script>

  {% endif %}
{% /card %}
