{% fragment as buttons %}
  <div class="flex items-center gap-2">

    <details-utils close-click-outside close-esc>
      <details class="more-dropdown">
        <summary class="more-dropdown__btn" id="file-button-more">
          More…
          <span class="opacity-75 ml-1">
            <img height="16" width="16" class="icon inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
            <img height="16" width="16" class="icon hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt="">
          </span>
        </summary>
        <ul class="more-dropdown__nav">
          <li class="more-dropdown__item">
            <a href="{{ path_item.contents_url }}" class="more-dropdown__link" id="view-button" target="_blank" rel="noopener noreferrer">
              <img class="more-dropdown__icon" src="/static/icons/open_in_new.svg" alt="">
              Open in new tab
            </a>
          </li>
          <li class="more-dropdown__item">
            <a href="{{ path_item.contents_plaintext_url }}" class="more-dropdown__link" id="plain-text-button" target="_blank" rel="noopener noreferrer">
              <img class="more-dropdown__icon" src="/static/icons/open_in_new.svg" alt="">
              Open as plain text
            </a>
          </li>
        </ul>
      </details>
    </details-utils>
  </div>
{% endfragment %}

{% #card id="fileCard" title=path_item.name container=True custom_button=buttons %}
  <div class="content">
    <iframe src="{{ path_item.contents_url }}"
            title="{{ path_item.relpath }}"
            frameborder=0
            height=1000
            style="width: 100%;"
            sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
    ></iframe>
  </div>
{% /card %}
