<header class="bg-gradient-to-r from-oxford-200/20 via-bn-roman-200/35 to-bn-strawberry-200/25 after:absolute after:h-1 after:w-full after:bg-gradient-to-r after:from-oxford-600/60 after:via-bn-roman-600/70 after:to-bn-strawberry-600/60">
  <nav class="relative container xl:max-w-screen-xl flex justify-center items-center flex-wrap py-3 gap-y-2">
    <p class="relative z-30 flex-shrink-0 flex items-center mr-4 text-xl font-extrabold tracking-tight leading-none text-stone-700">
      <a
        class="group relative bg-transparent rounded overflow-hidden focus:text-bn-strawberry-600 focus:outline-none focus:ring-2 focus:ring-oxford-500"
        href="{% url 'home' %}"
      >
        <span class="transition-colors ease-in duration-150 text-oxford group-hover:text-bn-strawberry-700 group-focus:text-bn-strawberry-700">
          OpenSAFELY
        </span>
        <span class="transition-colors ease-in duration-150 text-oxford-600 group-hover:text-bn-strawberry-700 group-focus:text-bn-strawberry-700">
          Airlock
        </span>
      </a>
    </p>

    <ul class="flex relative flex-row gap-4 mx-1 ml-auto text-sm font-semibold">
      {% for location in nav %}
        <li>
          <a
            class="
                   relative flex h-full items-center text-oxford transition-colors duration-200 rounded px-2 py-0
                   hover:text-bn-strawberry-700
                   focus:text-bn-strawberry-700 focus:outline-none focus:ring-2 focus:ring-oxford-500
                   {% if location.is_active %}border-t-oxford-600/50 text-oxford-600{% endif %}
                  "
            href="{{ location.url }}"
            data-testid="nav-{{ location.name|slugify }}"
          >
            {{ location.name }}
            {% if location.is_active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
      {% endfor %}
      {% if not request.user or not request.user.is_authenticated %}
        <li>
          <a
            class="
                   relative inline-flex self-start p-2 rounded whitespace-nowrap text-oxford duration-200 bg-bn-strawberry-200 border border-bn-strawberry-300 px-4 mx-0 leading-none transition-all
                   hover:text-bn-strawberry-700 hover:bg-bn-strawberry-100 hover:border-bn-strawberry-400 hover:shadow-lg
                   focus:bg-bn-strawberry-100 focus:text-bn-strawberry-700 focus:border-bn-strawberry-400 focus:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500
                  "
            href="{% url 'login' %}"
            rel="nofollow"
            data-testid="nav-login"
          >
            Login
          </a>
        </li>
      {% else %}
        {% if dev_users %}
          <li>
            <details-utils close-click-outside close-esc>
              <details class="flex group">
                <summary
                  class="
                         flex relative h-full items-center text-oxford transition-colors duration-200 rounded px-2 py-0 cursor-pointer
                         hover:text-bn-strawberry-700
                         focus:text-bn-strawberry-700 focus:outline-none focus:ring-2 focus:ring-oxford-500
                        "
                  data-testid="switch-user"
                >
                  {% airlock_user user=request.user %}
                  <span class="opacity-75 ml-1">
                    <img height="16" width="16" class="icon inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
                    <img height="16" width="16" class="icon hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt="">
                  </span>
                </summary>
                <div class="absolute border-0 origin-top-right top-full mt-2 right-20 z-10 w-48 rounded-md shadow-lg overflow-hidden bg-white ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
                  <p class="pt-3 pb-2 px-4 bg-red-700 text-red-50">TEST MODE ONLY</p>
                  {% for username, token in dev_users.items %}
                    <form
                      action="{% url 'login' %}"
                      method="POST"
                    >
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ request.path }}" />
                      <input type="hidden" name="user" value="{{ username }}" />
                      <input type="hidden" name="token" value="{{ token }}" />
                      <button
                        class="
                               border-t block px-4 py-2 focus:outline-none focus:ring-2 focus:ring-oxford-500 focus:ring-inset w-full text-left
                               {% if username == request.user.username %}
                                 bg-emerald-200 text-emerald hover:text-bn-emerald-700 hover:bg-emerald-50 focus:text-bn-emerald-700
                               {% else %}
                                 text-oxford hover:text-bn-strawberry-700 hover:bg-oxford-50 focus:text-bn-strawberry-700
                               {% endif %}
                              "
                        type="submit"
                      >
                        {{ username }}
                      </button>
                    </form>
                  {% endfor %}
                </div>
              </details>
            </details-utils>
          </li>
        {% endif %}
        <li>
          <details-utils close-click-outside close-esc>
            <details class="flex group">
              <summary
                class="
                       flex relative h-full items-center text-oxford transition-colors duration-200 rounded px-2 py-0 cursor-pointer
                       hover:text-bn-strawberry-700
                       focus:text-bn-strawberry-700 focus:outline-none focus:ring-2 focus:ring-oxford-500
                      "
                data-testid="nav-account"
              >
                Account
                <span class="opacity-75 ml-1">
                  <img height="16" width="16" class="icon inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
                  <img height="16" width="16" class="icon hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt="">
                </span>
              </summary>
              <div class="absolute border-0 origin-top-right top-full mt-2 right-0 z-10 w-48 rounded-md shadow-lg overflow-hidden bg-white ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
                <p class="pt-3 pb-2 px-4">
                  Logged in as:
                  <span class="block">
                    <strong class="break-words">{{ request.user.username }}</strong>
                  </span>
                </p>
                <a
                  class="border-t block px-4 py-2 text-oxford hover:text-bn-strawberry-700 hover:bg-oxford-50 focus:text-bn-strawberry-700 focus:outline-none focus:ring-2 focus:ring-oxford-500 focus:ring-inset w-full text-left"
                  href="{% url 'logout' %}"
                  rel="nofollow"
                  data-testid="nav-logout"
                >
                  Logout
                </a>
              </div>
            </details>
          </details-utils>
        </li>


      {% endif %}
    </ul>
  </nav>
</header>
