{% load django_vite %}
{% load static %}
{% load airlock %}

{% fragment as buttons %}
  {% if content_buttons.multiselect_add.show %}
    {% if content_buttons.multiselect_add.disabled %}
      {% #button type="button" disabled=True tooltip=content_buttons.multiselect_add.tooltip id="add-file-modal-button" %}
        Add Files to Request
      {% /button %}
    {% else %}
      <div class="div flex flex-col items-start gap-4">
        <div class="flex items-center gap-2">
          {% #button type="submit" name="action" value="add_files" variant="success" form="multiselect_form" id="add-file-modal-button" %}
            Add Files to Request
          {% /button %}
          {% #button type="submit" name="action" value="update_files" variant="success" form="multiselect_form" id="update-file-modal-button" %}
            Update Files in Request
          {% /button %}
        </div>
        <div id="multiselect_modal"></div>
      </div>
    {% endif %}
  {% endif %}
{% endfragment %}


{% #card title=path_item.name container=False custom_button=buttons %}
  {% if not path_item.children %}
    This directory is empty
  {% else %}
    <form id="multiselect_form"
          method="POST"
          hx-post="{{ content_buttons.multiselect_add.url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
    >

      {% csrf_token %}
      <input type=hidden name="next_url" value="{{ request.path }}"/>

      {% #datatable column_filter searchable sortable %}
        <thead>
          <tr>
            <th>
              <div class="flex flex-row gap-2 items-center">
                File
                <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                  {% datatable_sort_icon %}
                </span>
              </div>
            </th>
            <th>
              <div class="flex flex-row gap-2 items-center">
                Review State
                <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                  {% datatable_sort_icon %}
                </span>
              </div>
            </th>
            <th>
              <div class="flex flex-row gap-2 items-center">
                Size
                <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                  {% datatable_sort_icon %}
                </span>
              </div>
            </th>
            <th>
              <div class="flex flex-row gap-2 items-center">
                Modified
                <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                  {% datatable_sort_icon %}
                </span>
              </div>
            </th>
            {% if not content_buttons.multiselect_add.disabled %}
              <th data-searchable="false" data-sortable="false">
                <input class="selectall ml-3" type="checkbox" onchange="toggleSelectAll(this)" />
              </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for path in path_item.children %}
            <tr>
              <td class="name"><a class="{{ path.html_classes }}" href="{{ path.url }}">{{ path.name }}</a></td>
              <td>{{ path.display_status }}</td>
              <td data-order="{{ path.size }}">{{ path.size_mb }}</td>
              <td>{{ path.modified_at|date:"Y-m-d H:i" }}</td>
              {% if not content_buttons.multiselect_add.disabled %}
                <td>
                  {% if not path.is_directory %}
                    {% form_checkbox name="selected" value=path.file_path custom_field=True %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      {% /datatable %}
    </form>
  {% endif %}
{% /card %}

{% vite_hmr_client %}
{% vite_asset "assets/src/scripts/datatable.js" %}
