{% load django_vite %}
{% load static %}
{% load airlock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'assets/file_browser/dir.css' %}">
{% endblock %}

{% fragment as buttons %}
  {% if workspace.is_active %}
    {% if path_item.children %}
      {% if multiselect_add %}
        <div class="div flex flex-col items-start gap-4">
          <div class="flex items-center gap-2">
            {% #button type="submit" name="action" value="add_files" variant="success" form="multiselect_form"%}
              Add Files to Request
            {% /button %}
            {% #button type="submit" name="action" value="update_files" variant="success" form="multiselect_form"%}
              Update Files in Request
            {% /button %}
          </div>
          <div id="multiselect_modal"></div>
        </div>
      {% elif current_request and current_request.status_owner != "AUTHOR"  %}
        {% #button type="button" disabled=True tooltip="The current request is under review and cannot be modified." id="add-file-modal-button-disabled" %}
          Add Files to Request
        {% /button %}
      {% else %}
        {% #button type="button" disabled=True tooltip="You do not have permission to add files to a request" id="add-file-modal-button-disabled" %}
          Add Files to Request
        {% /button %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfragment %}


{% #card title=path_item.name container=True custom_button=buttons %}
  {% if not path_item.children %}
    This directory is empty
  {% else %}
    <form id="multiselect_form"
          method="POST"
          hx-post="{{ multiselect_url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
    >

      {% csrf_token %}
      <input type=hidden name="next_url" value="{{ request.path }}"/>

      {% #table class="dir_table" id="customTable" %}
        {% #table_head %}
          <tr>
            <th>
              <div class="flex flex-row gap-2">File{% datatable_sort_icon %}</div>
            </th>
            <th>
              <div class="flex flex-row gap-2">Review State{% datatable_sort_icon %}</div>
            </th>
            <th>
              <div class="flex flex-row gap-2">Size{% datatable_sort_icon %}</div>
            </th>
            <th>
              <div class="flex flex-row gap-2">Modified{% datatable_sort_icon %}</div>
            </th>
            {% if workspace.is_active and multiselect_add %}
              <th data-searchable="false" data-sortable="false">
                <input class="selectall" type="checkbox" onchange="toggleSelectAll(this)" />
              </th>
            {% endif %}
          </tr>
        {% /table_head %}
        <tbody>
          {% for path in path_item.children %}
            <tr>
              <td class="name"><a class="{{ path.html_classes }}" href="{{ path.url }}">{{ path.name }}</a></td>
              <td>{{ path.display_status }}</td>
              <td data-order="{{ path.size }}">{{ path.size_mb }}</td>
              <td>{{ path.modified_at|date:"Y-m-d H:i" }}</td>
              {% if workspace.is_active and multiselect_add %}
                <td>
                  {% if not path.is_directory %}
                    {% form_checkbox name="selected" value=path.relpath custom_field=True %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      {% /table %}


    </form>

    {% vite_asset "assets/src/scripts/components.js" app="job_server" %}

    <script src="{% static 'assets/file_browser/dir.js' %}"></script>

  {% endif %}
{% /card %}
