{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if content_buttons.add_file_button.show %}
      {% if content_buttons.add_file_button.disabled %}
        {% if content_buttons.add_file %}
          {% #button type="button" disabled=True tooltip=content_buttons.add_file_button.tooltip id="add-file-modal-button" %}
            Add File to Request
          {% /button %}
        {% else %}
          {% #button type="button" disabled=True tooltip=content_buttons.add_file_button.tooltip id="update-file-modal-button" %}
            Update File in Request
          {% /button %}
        {% endif %}
      {% else %}
        <form
          method="POST"
          hx-post="{{ content_buttons.add_file_button.url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
        >
          {% if content_buttons.add_file %}
            {% #button type="submit" name="action" value="add_files" variant="success" id="add-file-modal-button" %}
              Add File to Request
            {% /button %}
          {% else %}
            {% #button type="submit" name="action" value="update_files" variant="success" id="update-file-modal-button" %}
              Update File in Request
            {% /button %}
          {% endif %}
          <input type=hidden name="selected" value="{{ path_item.relpath }}"/>
          <input type=hidden name="next_url" value="{{ request.path }}"/>
          {% csrf_token %}
        </form>
        <div id="multiselect_modal"></div>
      {% endif %}
    {% endif %}

    {% include "file_browser/_includes/more_dropdown.html" with include_code=include_code include_download=False %}

  </div>
{% endfragment %}

{% include "file_browser/_includes/file_content.html" %}
