{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if workspace.is_active %}
      {% if add_file %}
        <form
          method="POST"
          hx-post="{{ multiselect_url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
        >
          {% if path_item.workspace_status.value == "UPDATED" %}
            {% #button type="submit" name="action" value="update_files" variant="success" %}
              Update File in Request
            {% /button %}
          {% else %}
            {% #button type="submit" name="action" value="add_files" variant="success" %}
              Add File to Request
            {% /button %}
          {% endif %}
          <input type=hidden name="selected" value="{{ path_item.relpath }}"/>
          <input type=hidden name="next_url" value="{{ request.path }}"/>
          {% csrf_token %}
        </form>
        <div id="multiselect_modal"></div>
      {% elif path_item.workspace_status.value == "RELEASED" %}
        {% #button type="button" disabled=True tooltip="This file has already been released" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% elif path_item.workspace_status.value == "UNDER_REVIEW" %}
        {% #button type="button" disabled=True tooltip="This file has already been added to the current request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% elif not path_item.is_valid %}
        {% #button type="button" disabled=True tooltip="This file type cannot be added to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% elif current_request and not current_request.is_editing %}
        {% #button type="button" disabled=True tooltip="The current request is under review and cannot be modified." id="add-file-modal-button-disabled" %}
          {% if path_item.workspace_status.value == "UPDATED" %}
            Update File in Request
          {% else %}
            Add File to Request
          {% endif %}
        {% /button %}
      {% else %}
        {% #button type="button" disabled=True tooltip="You do not have permission to add this file to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% endif %}
    {% endif %}




    <details-utils close-click-outside close-esc>
      <details class="more-dropdown">
        <summary class="more-dropdown__btn" id="file-button-more">
          More…
          <span class="opacity-75 ml-1">
            <img height="16" width="16" class="icon inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
            <img height="16" width="16" class="icon hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt="">
          </span>
        </summary>
        <ul class="more-dropdown__nav">
          <li class="more-dropdown__item">
            <a href="{{ path_item.contents_url }}" class="more-dropdown__link" id="view-button" target="_blank" rel="noopener noreferrer">
              <img class="more-dropdown__icon" src="/static/icons/open_in_new.svg" alt="">
              Open in new tab
            </a>
          </li>
          <li class="more-dropdown__item">
            <a href="{{ path_item.contents_plaintext_url }}" class="more-dropdown__link" id="plain-text-button" target="_blank" rel="noopener noreferrer">
              <img class="more-dropdown__icon" src="/static/icons/open_in_new.svg" alt="">
              Open as plain text
            </a>
          </li>
          {% if code_url %}
            <li class="more-dropdown__item">
              <a href="{{ code_url }}" class="more-dropdown__link" id="file-code-button" target="_blank" rel="noopener noreferrer">
                <img class="more-dropdown__icon" src="/static/icons/code_blocks.svg" alt="">
                View source code
              </a>
            </li>
          {% endif %}
        </ul>
      </details>
    </details-utils>
  </div>
{% endfragment %}

{% #card id="fileCard" title=path_item.name container=True custom_button=buttons %}
  <div class="content">
    <iframe src="{{ path_item.contents_url }}"
            title="{{ path_item.relpath }}"
            frameborder=0
            height=1000
            style="width: 100%;"
            sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
            id="content-iframe"
    ></iframe>
  </div>
{% /card %}
