<style>
  code { color: green; font-family: monospace; font-size: small;}
  #notes-list {list-style: circle; list-style-position: inside;}
</style>

{% #card container=True %}
  <div class="text-sm">
    <table class="table-auto" id="csv-summary-table">
      <thead>
        <tr>
          {% for header in summary.headers %}
            <th class="border border-slate-400 p-1">{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in summary.rows %}
          <tr class="border border-slate-400">
            {% for cell in row %}
              <td class="border border-slate-400 p-1 {% if not forloop.first %}text-center{% endif %}">{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <details class="text-sm text-slate-800 pt-2">
    <summary class="font-bold">Notes</summary>
    {{ summary.notes }}
  </details>

{% /card %}
