
<div hx-swap-oob="innerHTML:#card-buttons">
  {% if not group.inline %}
    <div class="flex items-center gap-2">
      {% if group.request_changes_button.show %}
        {% #modal id="group-request-changes" button_small=True button_text="Request changes" button_tooltip=group.request_changes_button.tooltip button_variant="warning" %}
          {% #card container=True title="Request changes for all remaining files in group "|add:group.name %}
            <form action="{{ group.request_changes_button.url }}" method="POST">
              {% csrf_token %}
              <div class="pb-8">
                Request changes for all unreviewed output files in group <strong>{{ group.name }}</strong>.
                If you have already approved a file, your vote will NOT be changed.
              </div>
              {% #button type="submit" variant="warning" class="action-button" small=True id="group-request-changes-button" %}Request changes{% /button %}
              {% #button variant="secondary-outline" type="cancel" small=True %}Cancel{% /button %}
            </form>
          {% /card %}
        {% /modal %}
      {% endif %}

      {% if group.reset_votes_button.show %}
        {% #modal id="group-reset-votes" button_small=True button_text="Reset votes" button_tooltip=group.reset_votes_button.tooltip %}
          {% #card container=True title="Reset votes on all files in group "|add:group.name" %}
            <form action="{{ group.reset_votes_button.url }}" method="POST">
              {% csrf_token %}
              <div class="pb-8">
                Reset <strong>all</strong> votes in group <strong>{{ group.name }}</strong>.
                This will reset all files that you have approved or requested changes for.
              </div>
              {% #button type="submit" variant="primary" class="action-button" small=True id="group-reset-votes-button" %}Reset votes{% /button %}
              {% #button variant="secondary-outline" type="cancel" small=True %}Cancel{% /button %}
            </form>
          {% /card %}
        {% /modal %}
      {% endif %}
    </div>
  {% endif %}
</div>
