[data-datatable] {
  .datatable-sorter {
    & .datatable-icon--descending,
    & .datatable-icon--ascending {
      display: none;
    }

    & .datatable-icon--no-sort {
      display: block;
    }
  }
  .datatable-ascending {
    & .datatable-icon--no-sort,
    & .datatable-icon--descending {
      display: none;
    }

    & .datatable-icon--ascending {
      display: block;
    }
  }

  .datatable-descending {
    & .datatable-icon--no-sort,
    & .datatable-icon--ascending {
      display: none;
    }

    & .datatable-icon--descending {
      display: block;
    }
  }

  & a {
    color: var(--color-oxford-600);
    font-weight: 600;
    text-decoration-color: var(--color-oxford-300);
    text-decoration-line: underline;
    text-underline-offset: 2px;
    transition-duration: 200ms;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via,
      --tw-gradient-to;
    transition-timing-function: var(--ease-in-out);

    &:hover,
    &:focus {
      color: var(--color-oxford-800);
      text-decoration-color: transparent;
    }

    &:focus {
      background-color: var(--color-bn-sun-300);
    }
  }
}
