{% load django_vite %}
{% load static %}
{% load airlock %}

{% fragment as buttons %}
  {% if content_buttons.multiselect_withdraw.show %}
    <div class="div flex flex-col items-start gap-4">
      <div class="flex items-center gap-2">
        {% #button type="submit" name="action" value="withdraw_files" variant="warning" form="multiselect_form"%}Withdraw Files from Request{% /button %}
      </div>
      <div id="multiselect_modal"></div>
    </div>
  {% endif %}
{% endfragment %}

{% #card title=path_item.name container=False custom_button=buttons %}
  <form id="multiselect_form"
        method="POST"
        hx-post="{{ content_buttons.multiselect_withdraw.url }}"
        hx-target="#multiselect_modal"
        hx-swap="outerHtml"
  >

    {% csrf_token %}
    <input type=hidden name="next_url" value="{{ request.path }}"/>

    {% #datatable column_filter searchable sortable %}
      <thead>
        <tr>
          <th>
            <div class="flex flex-row gap-2 items-center">
              File
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              File Type
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              Size
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          <th>
            <div class="flex flex-row gap-2 items-center">
              Modified
              <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                {% datatable_sort_icon %}
              </span>
            </div>
          </th>
          {% if content_buttons.multiselect_withdraw.show %}
            <th data-searchable="false" data-sortable="false">
              <input class="selectall ml-3" type="checkbox" onchange="toggleSelectAll(this)" />
            </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for path in path_item.children %}
          <tr>
            <td class="name"><a class="{{ path.html_classes }}" href="{{ path.url }}">{{ path.name }}</a></td>
            <td>{{ path.request_filetype.name|title }}</td>
            <td data-order="{{ path.size }}">{{ path.size_mb }}</td>
            <td>{{ path.modified_at|date:"Y-m-d H:i" }}</td>
            {% if content_buttons.multiselect_withdraw.show %}
              <td>
                {% if not path.is_directory %}
                  {% form_checkbox name="selected" value=path.relpath custom_field=True %}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    {% /datatable %}
  </form>
{% /card %}

{% vite_hmr_client %}
{% vite_asset "assets/src/scripts/datatable.js" %}
<script src="{% static 'assets/file_browser/dir.js' %}"></script>
