{% load django_vite %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'assets/file_browser/dir.css' %}">
{% endblock %}

{% fragment as buttons %}
  {% if multiselect_withdraw %}
    <div class="div flex flex-col items-start gap-4">
      <div class="flex items-center gap-2">
        {% #button type="submit" name="action" value="withdraw_files" variant="warning" form="multiselect_form"%}Withdraw Files from Request{% /button %}
      </div>
      <div id="multiselect_modal"></div>
    </div>
  {% endif %}
{% endfragment %}


{% #card title=path_item.name container=True custom_button=buttons %}
  {% if not path_item.children %}
    This directory is empty
  {% else %}
    <form id="multiselect_form"
          method="POST"
          hx-post="{{ multiselect_url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
    >

      {% csrf_token %}
      <input type=hidden name="next_url" value="{{ request.path }}"/>

      {% include "file_browser/_includes/directory_table/request.html" %}

    </form>

    {% vite_asset "assets/src/scripts/components.js" app="job_server" %}

    <script src="{% static 'assets/file_browser/dir.js' %}"></script>

  {% endif %}
{% /card %}
