{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if path_item.is_supporting %}
      <span class="file-type file-type--supporting relative group cursor-pointer">
        <span class="file-type__icon"></span>
        Supporting
        {% tooltip content="This is a supporting file and will not be released." %}
      </span>
    {% elif path_item.is_withdrawn %}
      <span class="file-type file-type--withdrawn relative group cursor-pointer">
        <span class="file-type__icon"></span>
        Withdrawn
        {% tooltip content="This file has been withdrawn and will not be released." %}
      </span>
    {% endif %}

    {% if path_item.is_output %}
      {% with decision=path_item.request_status.decision %}
        <div class="request-file-status">
          <span>Decision:
            <span class="file-status file-status--{{ decision.name.lower }}">
              {{ decision.description }}
            </span>
          </span>
        </div>
      {% endwith %}
    {% endif %}

    {% if content_buttons.withdraw_file.show %}
      <form action="{{ content_buttons.withdraw_file.url }}" method="POST">
        {% csrf_token %}
        <input type=hidden name="path" value="{{ path_item.relpath }}"/>
        {% #button type="submit" id="withdraw-file-button" tooltip=content_buttons.withdraw_file.tooltip variant="warning" %}Withdraw from Request{% /button %}
      </form>
    {% endif %}

    {% if content_buttons.voting.approve.show %}
      <div class="btn-group">
        <div class="btn-subgroup">
          {% if content_buttons.voting.approve.selected %}
            {% if content_buttons.voting.approve.disabled %}
              <button aria-pressed="true" class="btn-group__btn btn-group__btn--left btn-group__btn--selected btn-group__btn--disabled cursor-not-allowed whitespace-nowrap" id="file-approve-button" disabled="true">
                {{ content_buttons.voting.approve.label }}
              </button>
            {% else %}
              <form action="{{ content_buttons.voting.approve.url }}" method="POST">
                {% csrf_token %}
                <button aria-pressed="true" class="btn-group__btn btn-group__btn--left btn-group__btn--selected whitespace-nowrap" id="file-approve-button" type="submit">
                  {{ content_buttons.voting.approve.label }}
                </button>
              </form>
            {% endif %}
          {% else %}
            <form action="{{ content_buttons.voting.approve.url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--left whitespace-nowrap" id="file-approve-button" type="submit">
                {{ content_buttons.voting.approve.label }}
              </button>
            </form>
          {% endif %}
        </div>
        <div class="btn-subgroup">
          {% if content_buttons.voting.request_changes.selected %}
            {% if content_buttons.voting.request_changes.disabled %}
              <button aria-pressed="true" class="btn-group__btn btn-group__btn--right btn-group__btn--selected btn-group__btn--disabled cursor-not-allowed whitespace-nowrap" id="file-request-changes-button" disabled="true">
                {{ content_buttons.voting.request_changes.label }}
              </button>
            {% else %}
              <form action="{{ content_buttons.voting.request_changes.url }}" method="POST">
                {% csrf_token %}
                <button aria-pressed="true" class="btn-group__btn btn-group__btn--right btn-group__btn--selected whitespace-nowrap" id="file-request-changes-button" type="submit">
                  {{ content_buttons.voting.request_changes.label }}
                </button>
              </form>
            {% endif %}
          {% else %}
            <form action="{{ content_buttons.voting.request_changes.url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--right whitespace-nowrap" id="file-request-changes-button" type="submit">
                {{ content_buttons.voting.request_changes.label }}
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% #modal id="group-context" button_text="View&nbsp;Context" %}
      {% include "file_browser/request/filegroup.html" %}
    {% /modal %}

    {% include "file_browser/_includes/more_dropdown.html" with include_code=include_code include_download=include_download %}

  </div>
{% endfragment %}

{% include "file_browser/_includes/file_content.html" %}

