{% load markdownify %}
<style>
  .comments .comment_private {
    background-color: lightgrey;
  }

  .comments .comment_blinded {
    background-color: darkgrey;
  }

  .c2-help {
    line-height: 1.6;
    font-size: small;
  }

</style>
{% #card title=group.title container=True class="group_modal" %}
  <div data-testid="c3">
    <form
      action="{{ group.c2_edit_url }}"
      aria-label="group-edit-form"
      class="grid grid-cols-2 gap-x-6 gap-y-4 items-start"
      method="POST"
    >
      {% csrf_token %}
      {% form_textarea field=group.c2_edit_form.context resize=True hint_below=True show_placeholder=True placeholder="Describe the data to be released in this group of files" class="w-full max-w-lg mx-auto" rows=6 disabled=group.c2_readonly readonly=group.c2_readonly %}
      {% form_textarea field=group.c2_edit_form.controls resize=True hint_below=True show_placeholder=True placeholder="Describe the disclosure controls that have been applied to these files" class="w-full max-w-lg mx-auto" rows=6 disabled=group.c2_readonly readonly=group.c2_readonly %}
      {% if not group.c2_readonly %}
        {% #button type="submit" variant="success" id="edit-group-button" class="w-min" disabled=group.c2_readonly %}Save{% /button %}
      {% endif %}
    </form>

    <div class="comments mt-4">
      {% #list_group id="comments" %}
        {% for comment, comment_class in group.comments %}

          {% fragment as comment_status %}
            <span>
              {% if request.user.output_checker %}
                {% if release_request.get_turn_phase.name == "INDEPENDENT" and comment.review_turn == release_request.review_turn %}
                  {% #pill variant="info" text="Blinded" class="group" %}
                  {% comment%}
                    TODO: get tooltips working for pills
                    {% tooltip content=comment.visibility.blinded_description %}
                  {% endcomment%}
                  {% /pill%}
                {% endif %}
                {% #pill variant="info" class="group" text=comment.visibility.name.title %}
                {% comment%}
                  TODO: get tooltips working for pills
                  {%tooltip content=comment.visibility.description %}
                {% endcomment%}
                {% /pill%}
              {% endif %}
              {% pill variant="info" text=comment.created_at|date:"Y-m-d H:i" %}
            </span>
          {% endfragment %}
          {% fragment as author %}{% airlock_user user=comment.author %}{% endfragment %}
          {% #list_group_rich_item custom_status=comment_status class=comment_class title=author %}
            <div class="prose prose-code:before:hidden prose-code:after:hidden">{{ comment.comment|markdownify }}</div>
            {% if request.user == comment.author %}
              {% if comment.visibility.name == "PRIVATE" and comment.review_turn == release_request.review_turn %}
                <div>
                  <form action="{{ group.comment_visibility_public_url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    {% #button variant="danger" type="submit" %}Make comment visible to all users{% /button %}
                  </form>
                </div>
              {% endif %}
              {% if group.user_can_comment %}
                <div>
                  <form action="{{ group.comment_delete_url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    {% #button variant="danger" type="submit" %}Delete comment{% /button %}
                  </form>
                </div>
              {% endif %}
            {% endif %}
          {% /list_group_rich_item %}
        {% endfor %}
        {% if group.user_can_comment and not group.inline %}
          {% #list_group_item %}
            <form action="{{ group.comment_create_url }}" method="POST" aria-label="group-comment-form">
              {% csrf_token %}
              {% if request.user.output_checker and release_request.get_turn_phase.name == "INDEPENDENT" %}
                {% #alert variant="warning" title="Comments are hidden" dismissible=True %}
                  Only you will see this comment until two independent reviews have been submitted
                {% /alert %}
              {% else %}
                {% #alert variant="info" title="Comments are pending" no_icon=True %}
                  Any comments will be shown to other users once you submit or return a request
                {% /alert %}
              {% endif %}

              {% form_textarea field=group.comment_form.comment placeholder="Use Markdown to format your comment" label="Add Comment" show_placeholder=True class="w-full max-w-lg" rows=6 required=False %}
              {% if group.comment_form.visibility.field.choices|length == 1 %}
                <input type="hidden" name="visibility" value="{{ group.comment_form.visibility.field.choices.0.0 }}"/>
              {% else %}
                {% form_radios field=group.comment_form.visibility choices=group.comment_form.visibility.field.choices class="w-full max-w-lg" %}
              {% endif%}
              <div class="mt-2">
                {% #button type="submit" variant="success" id="edit-comment-button" %}Comment{% /button %}
              </div>
            </form>
          {% /list_group_item %}
        {% endif %}
      {% /list_group %}
    </div>
  </div>
  {% if not group.inline %}
    {% include "activity.html" with activity=group.activity title="Recent activity for this group" %}
  {% else %}
    {% #card_footer no_container=False %}
      {% #button variant="primary" class="action-button" small=True type="cancel" %}Close{% /button %}
    {% /card_footer %}
  {% endif %}

{% /card %}
