{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if path_item.is_supporting %}
      <span class="file-type file-type--supporting relative group cursor-pointer">
        <span class="file-type__icon"></span>
        Supporting
        {% tooltip content="This is a supporting file and will not be released." %}
      </span>
    {% elif path_item.is_withdrawn %}
      <span class="file-type file-type--withdrawn relative group cursor-pointer">
        <span class="file-type__icon"></span>
        Withdrawn
        {% tooltip content="This file has been withdrawn and will not be released." %}
      </span>
    {% endif %}

    {% if path_item.is_output %}
      {% with decision=path_item.request_status.decision %}
        <div class="request-file-status">
          <span>Decision:
            <span class="file-status file-status--{{ decision.name.lower }}">
              {{ decision.description }}
            </span>
          </span>
        </div>
      {% endwith %}
    {% endif %}

    {% if is_author %}
      {% if workspace.is_active %}
        {% if path_item.is_output and file_withdraw_url %}
          <form action="{{ file_withdraw_url }}" method="POST">
            {% csrf_token %}
            <input type=hidden name="path" value="{{ path_item.relpath }}"/>
            {% #button type="submit" id="withdraw-file-button" tooltip="Withdraw this file from this request" variant="warning" %}Withdraw from Request{% /button %}
          </form>
        {% endif %}
      {% endif %}
    {% elif is_output_checker %}
      {% if path_item.is_output %}
        <div>
          {% with vote=path_item.request_status.vote %}
            {% if vote %}
              <span>Your review:
                <span class="file-status file-status--{{ vote.name.lower }}">
                  {{ vote.description }}
                </span>
              </span>
            {% endif %}
          {% endwith %}
        </div>
      {% endif %}

      {% if voting_buttons.show %}
        <div class="btn-group">
          {% if voting_buttons.approve.disabled %}
            <button aria-pressed="true" class="btn-group__btn btn-group__btn--left btn-group__btn--active" id="file-approve-button" disabled="true">
              Approve file
            </button>
          {% else %}
            <form action="{{ voting_buttons.approve.url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--left" id="file-approve-button" type="submit">
                Approve file
              </button>
            </form>
          {% endif %}


          {% if voting_buttons.request_changes.disabled %}
            <button aria-pressed="true" class="btn-group__btn btn-group__btn--active" id="file-request-changes-button" disabled="true">
              Request changes
            </button>
          {% else %}
            <form action="{{ voting_buttons.request_changes.url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn" id="file-request-changes-button" type="submit">
                Request changes
              </button>
            </form>
          {% endif %}

          {% if voting_buttons.reset_review.disabled %}
            <button aria-pressed="true" class="btn-group__btn btn-group__btn--right btn-group__btn--active" id="file-reset-button" disabled="true">
              Undecided
            </button>
          {% else %}
            <form action="{{ voting_buttons.reset_review.url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--right" id="file-reset-button" type="submit">
                Undecided
              </button>
            </form>
          {% endif %}

        </div>
      {% endif %}
    {% endif %}

    {% #modal id="group-context" button_text="View Context" %}
      {% include "file_browser/request/filegroup.html" %}
    {% /modal %}

    {% include "file_browser/_includes/more_dropdown.html" with include_code=include_code include_download=include_download %}

  </div>
{% endfragment %}

{% include "file_browser/_includes/file_content.html" %}

