<div hx-swap-oob="innerHTML:#content">
  {% #airlock_request_header release_request=release_request title=title workspace=workspace group=group %}
    {% if is_request_root %}
      <h2 class="font-semibold tracking-tight text-slate-900">Request overview</h2>
    {% else %}
      <a class="header__link header__nav-link" href="{{ release_request.get_url }}" id="request-home-button">
        &larr; Request overview
      </a>
    {% endif %}
  {% /airlock_request_header %}

  {% if request_action_required %}
    <div class="mt-4">
      {% #alert variant="warning" title="Action required" dismissible=True %}
        {{ request_action_required }}
      {% /alert %}
    </div>
  {% endif %}
</div>
