
{% load static %}

{% #card title="Request: "|add:release_request.id custom_button=buttons %}
  {% #description_list %}
    {% #description_item title="Status" %}
      {{ release_request.status.description }}
    {% /description_item %}
    {% #description_item title="Files requested for release" %}
      {{ release_request.output_files|length }}
    {% /description_item %}
    {% #description_item title="Supporting files not for release" %}
      {{ release_request.supporting_files_count }}
    {% /description_item %}
    {% #description_item title="Files released and uploaded" %}
      {% include "file_browser/_includes/uploaded_files_count.html" %}
    {% /description_item %}
    {% #description_item title="Filegroups" %}
      <ul class="list-disc">
        {% for filegroup in release_request.filegroups.values %}
          {% if not filegroup.empty %}
            <li>
              <div class="flex flex-row flex-wrap gap-2">
                <a class="text-oxford-600" href={{ release_request.get_url }}{{ filegroup.name|urlencode }}>{{ filegroup.name }}</a>
                {% if filegroup.incomplete %}
                  {% icon_exclamation_triangle_outline class="h-5 w-5 text-bn-flamenco-500" %}
                  <small><em>Information incomplete. Click on group name to enter context/controls.</em></small>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% /description_item %}
  {% /description_list %}
{% /card %}

{% include "activity.html" with title="Recent activity for this request"%}
