
{% load static %}

{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if content_buttons.submit.show %}
      {% if content_buttons.submit.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True variant="success" id="submit-for-review-button" %}
          Submit for review
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.submit.tooltip %}
        {% endcomponent %}
      {% else %}
        {% component "_components/modal/modal.html" with id="submitRequest" button_small=True button_text="Submit for review" button_variant="success" %}
          {% component "_components/card/card.html" with container=True title="Submit this request for review" %}
            <form action="{{ content_buttons.submit.url }}" method="POST">
              {% csrf_token %}

              <div class="pb-8">
                Please confirm that you have read the OpenSAFELY
                documentation on data release. In particular note that:
                <blockquote class="ml-4 mt-4">
                  <p>
                    All outputs from the NHS England OpenSAFELY COVID-19 service must be
                    aggregated data with small number suppression applied. The service operates as
                    a trusted research platform where no patient record level data is permitted to
                    be extracted from the platform. You MUST NOT request the release of any
                    information (e.g. name, listsize) that identifies, or could identify, ICBs,
                    Local Authorities (including MSOA identifiers), Primary Care Networks (PCNs)
                    and individual GP practices from the Level 4 results server. Please confirm and
                    that your results are in line with this policy.
                  </p>
                </blockquote>
              </div>
              {% component "_components/button.html" with type="submit" variant="success" class="action-button" small=True id="submit-for-review-button" %}I confirm I have read the documentation{% endcomponent %}
              {% component "_components/button.html" with variant="primary" class="action-button" small=True type="cancel" %}Cancel{% endcomponent %}
            </form>
          {% endcomponent %}
        {% endcomponent %}
      {% endif %}
    {% endif %}
    {% if content_buttons.resubmit.show %}
      {% if content_buttons.resubmit.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True variant="success" id="resubmit-for-review-button" %}
          Submit for review
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.resubmit.tooltip %}
        {% endcomponent %}
      {% else %}
        {% comment %} Subsequent re-submission requires just a button press {% endcomment %}
        <form action="{{ content_buttons.resubmit.url }}" method="POST">
          {% csrf_token %}
          {% component "_components/button.html" with type="submit" tooltip=content_buttons.resubmit.tooltip variant="success" class="action-button" small=True id="resubmit-for-review-button" %}Submit for review{% endcomponent %}
        </form>
      {% endif %}
    {% endif %}
    {% if content_buttons.withdraw.show %}
      {% component "_components/modal/modal.html" with id="withdrawRequest" button_small=True button_text="Withdraw this request" button_variant="warning" %}
        {% component "_components/card/card.html" with container=True title="Withdraw this request" %}
          <form action="{{ content_buttons.withdraw.url }}" method="POST">
            {% csrf_token %}

            <div class="pb-8">
              This will withdraw the entire request.
              Once a request is withdrawn, it cannot be resubmitted and must be
              recreated from scratch.
              Please confirm you wish to withdraw this request.
            </div>
            {% component "_components/button.html" with type="submit" variant="danger" class="action-button" small=True id="withdraw-request-confirm" %}Withdraw{% endcomponent %}
            {% component "_components/button.html" with variant="primary" type="cancel" small=True %}Cancel{% endcomponent %}
          </form>
        {% endcomponent %}
      {% endcomponent %}
    {% endif %}
    {% if content_buttons.submit_review.show %}
      {% if content_buttons.submit_review.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True variant="secondary" id="submit-review-button" %}
          Submit review
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.submit_review.tooltip %}
        {% endcomponent %}
      {% else %}
        <form action="{{ content_buttons.submit_review.url }}" method="POST">
          {% csrf_token %}
          {% component "_components/button.html" with type="submit" small=True tooltip=content_buttons.submit_review.tooltip variant="success" id="submit-review-button" %}Submit review{% endcomponent %}
        </form>
      {% endif %}
    {% endif %}
    {% if content_buttons.reject.show %}
      {% if content_buttons.reject.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True variant="danger" id="reject-request-button" data_modal="rejectRequest" %}
          Reject request
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.reject.tooltip %}
        {% endcomponent %}
      {% else %}
        {% component "_components/modal/modal.html" with id="rejectRequest" button_small=True button_text="Reject request" button_variant="danger" button_tooltip=content_buttons.reject.tooltip %}
          {% component "_components/card/card.html" with container=True title="Reject this request" %}
            <form action="{{ content_buttons.reject.url }}" method="POST">
              {% csrf_token %}

              <div class="pb-8">
                This will reject the entire request. Once a request is
                rejected, it cannot be resubmitted and must be recreated
                from scratch. Please confirm you wish to reject this
                request.
              </div>
              {% component "_components/button.html" with type="submit" variant="danger" class="action-button" small=True id="reject-request-button" %}Reject request{% endcomponent %}
              {% component "_components/button.html" with variant="primary" type="cancel" %}Cancel{% endcomponent %}
            </form>
          {% endcomponent %}
        {% endcomponent %}
      {% endif %}
    {% endif %}
    {% if content_buttons.return.show %}
      {% if content_buttons.return.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True id="return-request-button" %}
          Return request
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.return.tooltip %}
        {% endcomponent %}
      {% else %}
        {% component "_components/modal/modal.html" with id="returnRequest" button_small=True button_text="Return request" button_tooltip=content_buttons.return.tooltip %}
          {% component "_components/card/card.html" with container=True title="Return this request" %}
            <form action="{{ content_buttons.return.url }}" method="POST">
              {% csrf_token %}
              <div class="pb-8">
                {{content_buttons.return.modal_confirm_message}}
              </div>
              {% component "_components/button.html" with type="submit" variant="warning" class="action-button" small=True id="return-request-button" %}Return request{% endcomponent %}
              {% component "_components/button.html" with variant="primary" type="cancel" small=True %}Cancel{% endcomponent %}
            </form>
          {% endcomponent %}
        {% endcomponent %}
      {% endif %}
    {% endif %}
    {% if content_buttons.release_files.show %}
      {% if content_buttons.release_files.disabled %}
        {% component "_components/button.html" with disabled=True class="relative group" small=True variant="warning" id="release-files-button" %}
          Release files
          {% include "_components/tooltip.html" with class="airlock-tooltip" content=content_buttons.release_files.tooltip %}
        {% endcomponent %}
      {% else %}
        <form action="{{ content_buttons.release_files.url }}" method="POST" hx-post="{{ content_buttons.release_files.url }}" hx-disabled-elt="button">
          {% csrf_token %}
          {% component "_components/button.html" with small=True type="submit" tooltip=content_buttons.release_files.tooltip variant="warning" id="release-files-button" %}
            Release files
            <img height="16" width="16" class="icon icon--green-700 animate-spin htmx-indicator" src="{% static 'icons/progress_activity.svg' %}" alt="">
          {% endcomponent %}
        </form>
      {% endif %}
    {% endif %}

  </div>
{% endfragment %}

{% component "_components/card/card.html" with title="Request: "|add:release_request.id custom_button=buttons %}
  {% component "_components/description-list.html" %}
    {% component "_components/description-item.html" with title="Status" %}
      {{ release_request.status.description }}
    {% endcomponent %}
    {% component "_components/description-item.html" with title="Files requested for release" %}
      {{ release_request.output_files|length }}
    {% endcomponent %}
    {% component "_components/description-item.html" with title="Supporting files not for release" %}
      {{ release_request.supporting_files_count }}
    {% endcomponent %}
    {% component "_components/description-item.html" with title="Files released and uploaded" %}
      {% include "file_browser/_includes/uploaded_files_count.html" %}
    {% endcomponent %}
    {% component "_components/description-item.html" with title="Filegroups" %}
      <ul class="list-disc">
        {% for filegroup in release_request.filegroups.values %}
          {% if not filegroup.empty %}
            <li>
              <div class="flex flex-row flex-wrap gap-2">
                <a class="text-oxford-600" href={{ release_request.get_url }}{{ filegroup.name|urlencode }}>{{ filegroup.name }}</a>
                {% if filegroup.incomplete %}
                  {% include "_icons/exclamation-triangle-outline.svg" with class="h-5 w-5 text-bn-flamenco-500" %}
                  <small><em>Information incomplete. Click on group name to enter context/controls.</em></small>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endcomponent %}
  {% endcomponent %}
{% endcomponent %}

{% include "activity.html" with title="Recent activity for this request"%}
