
{% load static %}

{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if content_buttons.submit.show %}
      {% if content_buttons.submit.disabled %}
        {% #button disabled=True class="relative group" small=True variant="success" id="submit-for-review-button" %}
          Submit for review
          {% tooltip class="airlock-tooltip" content=content_buttons.submit.tooltip %}
        {% /button %}
      {% else %}
        {% #modal id="submitRequest" button_small=True button_text="Submit for review" button_variant="success" %}
          {% #card container=True title="Submit this request for review" %}
            <form action="{{ content_buttons.submit.url }}" method="POST">
              {% csrf_token %}

              <div class="pb-8">
                Please confirm that you have read the OpenSAFELY
                documentation on data release. In particular note that:
                <blockquote class="ml-4 mt-4">
                  <p>
                    All outputs from the NHS England OpenSAFELY COVID-19 service must be
                    aggregated data with small number suppression applied. The service operates as
                    a trusted research platform where no patient record level data is permitted to
                    be extracted from the platform. You MUST NOT request the release of any
                    information (e.g. name, listsize) that identifies, or could identify, ICBs,
                    Local Authorities (including MSOA identifiers), Primary Care Networks (PCNs)
                    and individual GP practices from the Level 4 results server. Please confirm and
                    that your results are in line with this policy.
                  </p>
                </blockquote>
              </div>
              {% #button type="submit" variant="success" class="action-button" small=True id="submit-for-review-button" %}
                I confirm I have read the documentation
              {% /button %}
              {% #button variant="primary" class="action-button" small=True type="cancel" %}Cancel{% /button %}
            </form>
          {% /card %}
        {% /modal %}
      {% endif %}
    {% endif %}
    {% if content_buttons.resubmit.show %}
      {% if content_buttons.resubmit.disabled %}
        {% #button disabled=True class="relative group" small=True variant="success" id="resubmit-for-review-button" %}
          Submit for review
          {% tooltip class="airlock-tooltip" content=content_buttons.resubmit.tooltip %}
        {% /button %}
      {% else %}
        {% comment %} Subsequent re-submission requires just a button press {% endcomment %}
        <form action="{{ content_buttons.resubmit.url }}" method="POST">
          {% csrf_token %}
          {% #button type="submit" tooltip=content_buttons.resubmit.tooltip variant="success" class="action-button" small=True id="resubmit-for-review-button" %}Submit for review{% /button %}
        </form>
      {% endif %}
    {% endif %}
    {% if content_buttons.withdraw.show %}
      {% #modal id="withdrawRequest" button_small=True button_text="Withdraw this request" button_variant="warning" %}
        {% #card container=True title="Withdraw this request" %}
          <form action="{{ content_buttons.withdraw.url }}" method="POST">
            {% csrf_token %}

            <div class="pb-8">
              This will withdraw the entire request.
              Once a request is withdrawn, it cannot be resubmitted and must be
              recreated from scratch.
              Please confirm you wish to withdraw this request.
            </div>
            {% #button type="submit" variant="danger" class="action-button" small=True id="withdraw-request-confirm" %}Withdraw{% /button %}
            {% #button variant="primary" type="cancel" small=True %}Cancel{% /button %}
          </form>
        {% /card %}
      {% /modal %}
    {% endif %}
    {% if content_buttons.submit_review.show %}
      {% if content_buttons.submit_review.disabled %}
        {% #button disabled=True class="relative group" small=True variant="secondary" id="submit-review-button" %}
          Submit review
          {% tooltip class="airlock-tooltip" content=content_buttons.submit_review.tooltip %}
        {% /button %}
      {% else %}
        <form action="{{ content_buttons.submit_review.url }}" method="POST">
          {% csrf_token %}
          {% #button type="submit" small=True tooltip=content_buttons.submit_review.tooltip variant="success" id="submit-review-button" %}Submit review{% /button %}
        </form>
      {% endif %}
    {% endif %}
    {% if content_buttons.reject.show %}
      {% if content_buttons.reject.disabled %}
        {% #button disabled=True class="relative group" small=True variant="danger" id="reject-request-button" data-modal="rejectRequest" %}
          Reject request
          {% tooltip class="airlock-tooltip" content=content_buttons.reject.tooltip %}
        {% /button %}
      {% else %}
        {% #modal id="rejectRequest" button_small=True button_text="Reject request" button_variant="danger" button_tooltip=content_buttons.reject.tooltip %}
          {% #card container=True title="Reject this request" %}
            <form action="{{ content_buttons.reject.url }}" method="POST">
              {% csrf_token %}

              <div class="pb-8">
                This will reject the entire request. Once a request is
                rejected, it cannot be resubmitted and must be recreated
                from scratch. Please confirm you wish to reject this
                request.
              </div>
              {% #button type="submit" variant="danger" class="action-button" small=True id="reject-request-button" %}Reject request{% /button %}
              {% #button variant="primary" type="cancel" %}Cancel{% /button %}
            </form>
          {% /card %}
        {% /modal %}
      {% endif %}
    {% endif %}
    {% if content_buttons.return.show %}
      {% if content_buttons.return.disabled %}
        {% #button disabled=True class="relative group" small=True id="return-request-button" %}
          Return request
          {% tooltip class="airlock-tooltip" content=content_buttons.return.tooltip %}
        {% /button %}
      {% else %}
        {% #modal id="returnRequest" button_small=True button_text="Return request" button_tooltip=content_buttons.return.tooltip %}
          {% #card container=True title="Return this request" %}
            <form action="{{ content_buttons.return.url }}" method="POST">
              {% csrf_token %}
              <div class="pb-8">
                {{content_buttons.return.modal_confirm_message}}
              </div>
              {% #button type="submit" variant="warning" class="action-button" small=True id="return-request-button" %}Return request{% /button %}
              {% #button variant="primary" type="cancel" small=True %}Cancel{% /button %}
            </form>
          {% /card %}
        {% /modal %}
      {% endif %}
    {% endif %}
    {% if content_buttons.release_files.show %}
      {% if content_buttons.release_files.disabled %}
        {% #button disabled=True class="relative group" small=True variant="warning" id="release-files-button" %}
          Release files
          {% tooltip class="airlock-tooltip" content=content_buttons.release_files.tooltip %}
        {% /button %}
      {% else %}
        <form action="{{ content_buttons.release_files.url }}" method="POST" hx-post="{{ content_buttons.release_files.url }}" hx-disabled-elt="button">
          {% csrf_token %}
          {% #button small=True type="submit" tooltip=content_buttons.release_files.tooltip variant="warning" id="release-files-button" %}
            Release files
            <img height="16" width="16" class="icon icon--green-700 animate-spin htmx-indicator" src="{% static 'icons/progress_activity.svg' %}" alt="">
          {% /button %}
        </form>
      {% endif %}
    {% endif %}

  </div>
{% endfragment %}

{% #card title="Request: "|add:release_request.id custom_button=buttons %}
  {% #description_list %}
    {% #description_item title="Status" %}
      {{ release_request.status.name }}
    {% /description_item %}
    {% #description_item title="Files requested for release" %}
      {{ release_request.output_files|length }}
    {% /description_item %}
    {% #description_item title="Supporting files not for release" %}
      {{ release_request.supporting_files_count }}
    {% /description_item %}
    {% #description_item title="Files released and uploaded" %}
      {% include "file_browser/_includes/uploaded_files_count.html" %}
    {% /description_item %}
    {% #description_item title="Filegroups" %}
      <ul class="list-disc">
        {% for filegroup in release_request.filegroups.values %}
          {% if not filegroup.empty %}
            <li>
              <div class="flex flex-row flex-wrap gap-2">
                <a class="text-oxford-600" href={{ release_request.get_url }}{{ filegroup.name|urlencode }}>{{ filegroup.name }}</a>
                {% if filegroup.incomplete %}
                  {% icon_exclamation_triangle_outline class="h-5 w-5 text-bn-flamenco-500" %}
                  <small><em>Information incomplete. Click on group name to enter context/controls.</em></small>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% /description_item %}
  {% /description_list %}
{% /card %}

{% include "activity.html" with title="Recent activity for this request"%}
