{% load static %}
{% #card id="fileCard" title=path_item.name container=False custom_button=buttons %}
  <div class="loading-indicator htmx-indicator pointer-events-none fixed w-full h-full bg-white border-t border-slate-200 pl-4">
    Loading...
    <img height="16" width="16" class="icon animate-spin" src="{% static 'icons/progress_activity.svg' %}" alt="">
  </div>
  <iframe
    class="w-full h-full bg-white border-t border-slate-200 pl-4"
    style="height: 400px;"
    frameborder="0"
    height="100"
    id="content-iframe"
    sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
    src="{{ path_item.contents_url }}{% if 'summarize_csv' in request.GET %}&summarize_csv{% endif %}"
    title="{{ path_item.relpath }}"
  ></iframe>
{% /card %}
