<div class="alert alert--{{ variant }}{% if dismissible %} alert--dismissible{% endif %}{% if class %} {{ class }}{% endif %}" role="alert">
  {% if no_icon %}
    {% if title %}<h2 class="alert__title">{{ title }}</h2>{% endif %}
    <div class="alert__text">{% body %}</div>
  {% else %}
    <div class="alert__container">
      {% if variant == "warning" %}
        {% include "_icons/exclamation-triangle-solid.svg" with class="alert__icon" %}
      {% elif variant == "success" %}
        {% include "_icons/check-circle-solid.svg" with class="alert__icon" %}
      {% elif variant == "danger" %}
        {% include "_icons/x-circle-solid.svg" with class="alert__icon" %}
      {% elif variant == "info" %}
        {% include "_icons/information-circle-solid.svg" with class="alert__icon" %}
      {% endif %}
      <div>
        {% if title %}<h2 class="alert__title">{{ title }}</h2>{% endif %}
        <div class="alert__text">{% body %}</div>
      </div>
    </div>
  {% endif %}
  {% if dismissible %}
    <button type="button" class="alert__dismiss" data-dismiss="alert" aria-label="Close">
      {% include "_icons/x-outline.svg" with class="alert__dismiss-icon" %}
    </button>
  {% endif %}
</div>
