{% extends "file_browser/file_content/content_base.html" %}
{% load airlock %}
{% load static %}
{% block metatitle %}{{ filename }}{% endblock %}
{% block content %}
  {% if summary %}
    <div class="py-2">
      <details data-testid="csv-summary">
        <summary class="text-sm text-oxford-600">View&nbsp;summary stats</summary>
        {% include "file_browser/file_content/_includes/csv_summary.html" %}
      </details>
    </div>
  {% endif %}
  <div id="airlock-table">
    {% if use_clusterize_table %}
      {% fragment as header_row %}
        <tr>
          <th class="sort-ascending">
            <button class="clusterize-table-sorter p-2 relative text-left w-full">
              <div class="flex flex-row gap-2 items-center">
                <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                  {% datatable_sort_icon %}
                </span>
              </div>
            </button>
          </th>
          {% for header in headers %}
            <th>
              <div class="flex flex-row items-center gap-1 px-2">
                <button class="clusterize-table-sorter py-2 relative text-left">
                  <div class="flex flex-row gap-2 items-center">
                    {{ header }}
                    <span class="sort-icon h-4 w-4 [&_img]:h-4 [&_img]:w-4">
                      {% datatable_sort_icon %}
                    </span>
                  </div>
                </button>
                <button
                  class="clusterize-column-hide shrink-0 text-slate-400 hover:text-slate-700"
                  title="Hide column"
                  data-header="{{ header }}"
                >
                  <img class="icon w-3 h-3 opacity-75" src="{% static 'icons/remove_circle_outline.svg' %}" alt="">
                </button>
              </div>
            </th>
          {% endfor %}
        </tr>
      {% endfragment %}
      {% #clusterize_table header_row=header_row %}
        {% for index, row in rows %}
          <tr><td class="datatable-row-number">{{ index }}</td>
            {% for cell in row %}<td>{{ cell }}</td>{% endfor %}</tr>
        {% endfor %}
      {% /clusterize_table %}

    {% else %}
      <table>
        <thead>
          <tr>
            <th></th>
            {% for header in headers %}
              <th>
                {{ header }}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for index, row in rows %}
            <tr>
              <td>{{ index }}</td>
              {% for cell in row %}
                <td>{{ cell }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  </div>
{% endblock %}
