<div id="selected-contents">

  {% if path_item.type.name == "FILEGROUP" %}

    {% #card title=path_item.name container=True %}
      <form action="{{ group_edit_url }}" method="POST" aria-label="group-edit-form">
        {% csrf_token %}
        <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; gap: 1rem;">
          <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1;">
            {% form_textarea field=group_edit_form.context show_placeholder=True resize=True placeholder="Describe the data to be released in this file" class="w-full max-w-lg mx-auto" rows=6 %}
          </div>
          <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1; gap: 1rem;">
            {% form_textarea field=group_edit_form.controls resize=True show_placeholder=True placeholder="Describe the disclosure controls that have been applied to this file" class="w-full max-w-lg mx-auto" rows=6 %}
          </div>
        </div>
        <div class="mt-2">
          {% #button type="submit" variant="success" id="edit-group-button" %}Save{% /button %}
        </div>
      </form>

      <div class="comments" style="margin-top: 1rem;">
        {% #list_group %}
          {% for comment in group_comments %}
            {% #list_group_rich_item status_text=comment.created_at|date:"Y-m-d H:i"  title=comment.author %}
              {{ comment.comment }}
            {% /list_group_rich_item %}
          {% endfor %}
          {% #list_group_item %}
            <form action="{{ group_comment_url }}" method="POST" aria-label="group-comment-form">
              {% csrf_token %}
              {% form_textarea field=group_comment_form.comment label="Add Comment" show_placeholder=True class="w-full max-w-lg" rows=6 %}
              <div class="mt-2">
                {% #button type="submit" variant="success" id="edit-comment-button" %}Comment{% /button %}
              </div>
            </form>
          {% /list_group_item %}
        {% /list_group %}
      </div>
    {% /card %}

  {% elif path_item.is_directory %}

    {% #card title=path_item.name container=True %}
      {% #list_group %}
        {% if not path_item.children %}
          {% list_group_empty icon=True title="Empty Directory" %}
        {% else %}
          {% for entry in path_item.children %}
            {% #list_group_item href=entry.url %}
              {{ entry.name}}
              {% if entry.is_directory %}
                {% icon_folder_outline class="h-6 w-6 text-slate-600 inline" %}
              {% endif %}
            {% /list_group_item %}
          {% endfor %}
        {% endif %}
      {% /list_group %}
    {% /card %}

  {% else %}
    {% fragment as buttons %}
      <div class="flex items-center gap-2">
        {% if context == "workspace" %}
          {% if form %}
            {% #modal id="addRequestFile" button_text="Add File to Request" variant="success" %}
              {% #card container=True title="Add a file" %}
                <form action="{{ request_file_url }}" method="POST" aria-label="add-file-form">
                  {% csrf_token %}
                  {% form_radios class="w-full max-w-lg mx-auto" label="Type of file" field=form.filetype selected=form.filetype.value %}
                  {% form_select class="w-full max-w-lg mx-auto" label="Select a file group" field=form.filegroup choices=form.filegroup.field.choices %}
                  {% form_input class="w-full max-w-lg mx-auto" label="Or create a new file group" field=form.new_filegroup %}
                  <input type=hidden name="path" value="{{ path_item.relpath }}"/>
                  <div class="mt-2">
                    {% #button type="submit" variant="success" id="add-file-button" %}Add File to Request{% /button %}
                    {% #button variant="danger" type="cancel" %}Cancel{% /button %}
                  </div>
                </form>
              {% /card %}
            {% /modal %}
          {% elif file_in_request %}
            {% #button type="button" disabled=True tooltip="This file has already been added to the current request" id="add-file-modal-button-disabled" %}
              Add File to Request
            {% /button %}
          {% elif not path_item.is_valid %}
            {% #button type="button" disabled=True tooltip="This file type cannot be added to a request" id="add-file-modal-button-disabled" %}
              Add File to Request
            {% /button %}
          {% else %}
            {% #button type="button" disabled=True tooltip="You do not have permission to add this file to a request" id="add-file-modal-button-disabled" %}
              Add File to Request
            {% /button %}
          {% endif %}
        {% else %}{# request #}
          {% if path_item.is_supporting  %}
            {% #description_item title="Supporting file" %}This is a supporting file and will not be released.{% /description_item%}
          {% elif path_item.is_withdrawn %}
            {% #description_item title="Withdrawn file" %}This file has been withdrawn and will not be released.{% /description_item%}
          {% endif %}

          {% if is_author %}
            {% if path_item.is_output and file_withdraw_url %}
              <form action="{{ file_withdraw_url }}" method="POST">
                {% csrf_token %}
                <input type=hidden name="path" value="{{ path_item.relpath }}"/>
                {% #button type="submit" id="withdraw-file-button" tooltip="Withdraw this file from this request" variant="warning" %}Withdraw from Request{% /button %}
              </form>
            {% endif %}
          {% elif is_output_checker %}
            {% if file_approve_url %}
              <form action="{{ file_approve_url }}" method="POST">
                {% csrf_token %}
                {% #button type="submit" variant="success" id="file-approve-button" %}Approve File{% /button %}
              </form>
            {% else %}
              {% csrf_token %}
              {% #button type="submit" variant="success" disabled=True id="file-approve-button" %}Approve File{% /button %}
            {% endif %}
            {% if file_reject_url %}
              <form action="{{ file_reject_url }}" method="POST">
                {% csrf_token %}
                {% #button type="submit" variant="danger" href=file_reject_url id="file-reject-button" %}Reject File{% /button %}
              </form>
            {% else %}
              {% csrf_token %}
              {% #button type="submit" variant="danger" disabled=True href=file_reject_url id="file-reject-button" %}Reject File{% /button %}
            {% endif %}
            {% #button variant="primary" type="link" href=path_item.download_url id="download-button" %}Download file{% /button %}
          {% endif %}
        {% endif %}
        {% #button variant="primary" type="link" href=path_item.contents_url external=True id="view-button" %}View ↗{% /button %}
      </div>

    {% endfragment %}

    {% #card title=path_item.name container=True custom_button=buttons %}
      <div class="content">
        <iframe src="{{ path_item.contents_url }}"
                title="{{ path_item.relpath }}"
                frameborder=0
                height=1000
                style="width: 100%;"
                sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
        ></iframe>
      </div>
    {% /card %}

  {% endif %}

</div>
