<div id="selected-contents" class="min-h-screen">
  {% if path_item.type.name == "FILEGROUP" %}
    {% include "file_browser/group.html" %}
  {% elif path_item.type.name == "DIR" %}
    {% include "file_browser/directory.html" %}
  {% elif path_item.type.name == "FILE" %}
    {% include "file_browser/file.html" %}
  {% elif path_item.type.name == "WORKSPACE" %}
    {% include "file_browser/workspace.html" %}
  {% elif path_item.type.name == "REQUEST" %}
    {% include "file_browser/request.html" %}
  {% endif %}
</div>
