{% load airlocktags %}
{% as_csv_data contents as csv_data %}
<div class="inline-block min-w-full align-middle max-w-full">
  <table class="datatable">
    <thead class="bg-slate-200" id="csvTable">
      <tr>
        {% for header in csv_data.headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in csv_data.rows %}
        <tr class="even:bg-slate-50">
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
