<style>
  .datatable thead {
    position: sticky;
    top: 0;
    text-align: left;
    background-color: rgba(248,250,252);
  }

  .datatable tbody tr:nth-child(even) {
    background-color: rgba(248,250,252);
  }
</style>

<div id="csvtable">
  <p class="spinner">Loading table data...</p>
  <table class="datatable" style="display: none">
    <thead>
      <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  document.querySelector("#csvtable p.spinner").style.display = "none";
  document.querySelector("#csvtable table.datatable").style.display = "table";
</script>
