{% load static %}

{% #card title=path_item.name %}
  {% #list_group %}
    {% if not path_item.children %}
      {% list_group_empty icon=True title="This directory is empty" %}
    {% else %}
      {% for entry in path_item.children %}
        {% #list_group_item href=entry.url %}
          {% if entry.is_directory %}
            <img class="icon mr-1" src="{% static 'icons/folder.svg' %}" alt="" />
          {% else %}
            <img class="icon mr-1" src="{% static 'icons/draft.svg' %}" alt="" />
          {% endif %}
          {{ entry.name }}
        {% /list_group_item %}
      {% endfor %}
    {% endif %}
  {% /list_group %}
{% /card %}
