{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if context == "workspace" %}
      {% if add_file %}
        <form
          method="POST"
          hx-post="{{ multiselect_url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
        >
          {% #button type="submit" name="action" value="add_files" variant="success" %}Add File to Request{% /button %}
          <input type=hidden name="selected" value="{{ path_item.relpath }}"/>
          <input type=hidden name="next_url" value="{{ request.path }}"/>
          {% csrf_token %}
        </form>
        <div id="multiselect_modal"></div>
      {% elif path_item.workspace_state.value == "UNDER_REVIEW" %}
        {% #button type="button" disabled=True tooltip="This file has already been added to the current request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% elif not path_item.is_valid %}
        {% #button type="button" disabled=True tooltip="This file type cannot be added to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% else %}
        {% #button type="button" disabled=True tooltip="You do not have permission to add this file to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% endif %}
    {% else %}{# request #}
      {% if path_item.is_supporting  %}
        {% #description_item title="Supporting file" %}This is a supporting file and will not be released.{% /description_item%}
      {% elif path_item.is_withdrawn %}
        {% #description_item title="Withdrawn file" %}This file has been withdrawn and will not be released.{% /description_item%}
      {% endif %}

      {% if is_author %}
        {% if path_item.is_output and file_withdraw_url %}
          <form action="{{ file_withdraw_url }}" method="POST">
            {% csrf_token %}
            <input type=hidden name="path" value="{{ path_item.relpath }}"/>
            {% #button type="submit" id="withdraw-file-button" tooltip="Withdraw this file from this request" variant="warning" %}Withdraw from Request{% /button %}
          </form>
        {% endif %}
      {% elif is_output_checker %}
        <div>
          {% if not file_reset_review_url %}
            <span class="file-status file-status--warning">No status</span>
          {% elif file_approve_url %}
            <span class="file-status file-status--danger">Rejected</span>
          {% elif file_reject_url %}
            <span class="file-status file-status--success">Approved</span>
          {% endif %}
        </div>

        <div class="btn-group">
          {% if file_approve_url %}
            <form action="{{ file_approve_url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--left" id="file-approve-button" type="submit">
                Approve file
              </button>
            </form>
          {% elif file_reset_review_url and file_reject_url %}
            <form action="{{ file_reset_review_url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="true" class="btn-group__btn btn-group__btn--left btn-group__btn--active" id="file-reset-button" type="submit">
                Approve file
              </button>
            </form>
          {% endif %}

          {% if file_reject_url %}
            <form action="{{ file_reject_url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="false" class="btn-group__btn btn-group__btn--right" id="file-reject-button" type="submit">
                Request changes
              </button>
            </form>
          {% elif file_reset_review_url and file_approve_url %}
            <form action="{{ file_reset_review_url }}" method="POST">
              {% csrf_token %}
              <button aria-pressed="true" class="btn-group__btn btn-group__btn--right btn-group__btn--active" id="file-reset-button" type="submit">
                Request changes
              </button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    <details-utils close-click-outside close-esc>
      <details class="more-dropdown">
        <summary class="more-dropdown__btn" id="file-button-more">
          More…
          <span class="opacity-75 ml-1">
            <img height="16" width="16" class="icon inline-block group-open:hidden" src="/static/icons/keyboard_arrow_down.svg" alt="">
            <img height="16" width="16" class="icon hidden group-open:inline-block" src="/static/icons/keyboard_arrow_up.svg" alt="">
          </span>
        </summary>
        <ul class="more-dropdown__nav">
          {% if is_output_checker %}
            <li class="more-dropdown__item">
              <a href="{{ path_item.download_url }}" class="more-dropdown__link" id="download-button">
                <img class="more-dropdown__icon" src="/static/icons/cloud_download.svg" alt="">
                Download file
              </a>
            </li>
          {% endif %}
          <li class="more-dropdown__item">
            <a href="{{ path_item.contents_url }}" class="more-dropdown__link" id="view-button" target="_blank" rel="noopener noreferrer">
              <img class="more-dropdown__icon" src="/static/icons/open_in_new.svg" alt="">
              Open in new tab
            </a>
          </li>
          {% if code_url %}
            <li class="more-dropdown__item">
              <a href="{{ code_url }}" class="more-dropdown__link" id="file-code-button" target="_blank" rel="noopener noreferrer">
                <img class="more-dropdown__icon" src="/static/icons/code_blocks.svg" alt="">
                View source code
              </a>
            </li>
          {% endif %}
        </ul>
      </details>
    </details-utils>
  </div>
{% endfragment %}

{% #card id="fileCard" title=path_item.name container=True custom_button=buttons %}
  <div class="content">
    <iframe src="{{ path_item.contents_url }}"
            title="{{ path_item.relpath }}"
            frameborder=0
            height=1000
            style="width: 100%;"
            sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
    ></iframe>
  </div>
{% /card %}
