{% fragment as buttons %}
  <div class="flex items-center gap-2">
    {% if context == "workspace" %}
      {% if add_file %}
        <form
          method="POST"
          hx-post="{{ multiselect_url }}"
          hx-target="#multiselect_modal"
          hx-swap="outerHtml"
        >
          {% #button type="submit" name="action" value="add_files" variant="success" %}Add File to Request{% /button %}
          <input type=hidden name="selected" value="{{ path_item.relpath }}"/>
          <input type=hidden name="next_url" value="{{ request.path }}"/>
          {% csrf_token %}
        </form>
        <div id="multiselect_modal"></div>
      {% elif path_item.workspace_state.value == "UNDER_REVIEW" %}
        {% #button type="button" disabled=True tooltip="This file has already been added to the current request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% elif not path_item.is_valid %}
        {% #button type="button" disabled=True tooltip="This file type cannot be added to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% else %}
        {% #button type="button" disabled=True tooltip="You do not have permission to add this file to a request" id="add-file-modal-button-disabled" %}
          Add File to Request
        {% /button %}
      {% endif %}
    {% else %}{# request #}
      {% if path_item.is_supporting  %}
        {% #description_item title="Supporting file" %}This is a supporting file and will not be released.{% /description_item%}
      {% elif path_item.is_withdrawn %}
        {% #description_item title="Withdrawn file" %}This file has been withdrawn and will not be released.{% /description_item%}
      {% endif %}

      {% if is_author %}
        {% if path_item.is_output and file_withdraw_url %}
          <form action="{{ file_withdraw_url }}" method="POST">
            {% csrf_token %}
            <input type=hidden name="path" value="{{ path_item.relpath }}"/>
            {% #button type="submit" id="withdraw-file-button" tooltip="Withdraw this file from this request" variant="warning" %}Withdraw from Request{% /button %}
          </form>
        {% endif %}
      {% elif is_output_checker %}
        <div>
          {% if not file_reset_review_url %}
            <span class="file-status file-status--warning">No status</span>
          {% elif file_approve_url %}
            <span class="file-status file-status--danger">Rejected</span>
          {% elif file_reject_url %}
            <span class="file-status file-status--success">Approved</span>
          {% endif %}
        </div>

        {% if file_approve_url %}
          <form action="{{ file_approve_url }}" method="POST">
            {% csrf_token %}
            {% #button type="submit" variant="success" id="file-approve-button" %}Approve File{% /button %}
          </form>
        {% else %}
          {% #button type="submit" variant="success" disabled=True id="file-approve-button" tooltip="File already approved." %}Approve File{% /button %}
        {% endif %}

        {% if file_reset_review_url %}
          <form action="{{ file_reset_review_url }}" method="POST">
            {% csrf_token %}
            {% #button type="submit" variant="success" id="file-reset-button" %}Reset Review{% /button %}
          </form>
        {% else %}
          {% #button type="submit" variant="success" disabled=True id="file-reset-button" tooltip="File not yet reviewed." %}Reset Review{% /button %}
        {% endif %}

        {% if file_reject_url %}
          <form action="{{ file_reject_url }}" method="POST">
            {% csrf_token %}
            {% #button type="submit" variant="danger" href=file_reject_url id="file-reject-button" %}Request Changes{% /button %}
          </form>
        {% else %}
          {% #button type="submit" variant="danger" disabled=True href=file_reject_url id="file-reject-button" tooltip="File changes already requested." %}Request Changes{% /button %}
        {% endif %}
        {% #button variant="primary" type="link" href=path_item.download_url id="download-button" %}Download file{% /button %}
      {% endif %}
    {% endif %}
    {% #button variant="primary" type="link" href=path_item.contents_url external=True id="view-button" %}View ↗{% /button %}
    {% if code_url %}
      {% #button type="link" variant="primary" id="file-code-button" href=code_url external=True %}View code{% /button %}
    {% endif %}
  </div>

{% endfragment %}

{% #card id="fileCard" title=path_item.name container=True custom_button=buttons %}
  <div class="content">
    <iframe src="{{ path_item.contents_url }}"
            title="{{ path_item.relpath }}"
            frameborder=0
            height=1000
            style="width: 100%;"
            sandbox="{{ path_item.iframe_sandbox }} allow-same-origin"
    ></iframe>
  </div>
{% /card %}
