<style>
  .comments .comment_private {
    background-color: lightgrey;
  }

  .comments .comment_blinded {
    background-color: darkgrey;
  }
</style>
{% #card title=path_item.name container=True %}
  <form action="{{ group_edit_url }}" method="POST" aria-label="group-edit-form">
    {% csrf_token %}
    <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; gap: 1rem;">
      <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1;">
        {% form_textarea field=group_edit_form.context show_placeholder=True resize=True placeholder="Describe the data to be released in this group of files" class="w-full max-w-lg mx-auto" rows=6 disabled=group_readonly readonly=group_readonly %}
      </div>
      <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1; gap: 1rem;">
        {% form_textarea field=group_edit_form.controls resize=True show_placeholder=True placeholder="Describe the disclosure controls that have been applied to these files" class="w-full max-w-lg mx-auto" rows=6 disabled=group_readonly readonly=group_readonly %}
      </div>
    </div>
    {% if not group_readonly %}
      <div class="mt-2">
        {% #button type="submit" variant="success" id="edit-group-button" disabled=group_readonly %}Save{% /button %}
      </div>
    {% endif %}
  </form>
  {% if show_c3 %}
    <div class="comments" style="margin-top: 1rem;">
      {% #list_group %}
        {% for comment, comment_class in group_comments %}

          {% fragment as comment_status %}
            <span>
              {% if request.user.output_checker %}
                {% if release_request.get_turn_phase.name == "INDEPENDENT" %}
                  {% #pill variant="info" text="Blinded" class="group" %}
                    Blinded
                    {% comment%}
                      TODO: get tooltips working for pills
                      {% tooltip content=comment.visibility.blinded_description %}
                    {% endcomment%}
                  {% /pill%}
                {% endif %}
                {% #pill variant="info" class="group" %}
                  {{ comment.visibility.name.title }}
                  {% comment%}
                    TODO: get tooltips working for pills
                    {%tooltip content=comment.visibility.description %}
                  {% endcomment%}
                {% /pill%}
              {% endif %}
              {% pill variant="info" text=comment.created_at|date:"Y-m-d H:i" %}
            </span>
          {% endfragment %}
          {% #list_group_rich_item custom_status=comment_status class=comment_class title=comment.author %}
            {{ comment.comment }}
            {% if request.user.username == comment.author %}
              <div>
                <form action="{{ group_comment_delete_url }}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="comment_id" value="{{ comment.id }}">
                  {% #button variant="danger" type="cancel" %}Delete comment{% /button %}
                </form>
              </div>
            {% endif %}
          {% /list_group_rich_item %}
        {% endfor %}
        {% if can_comment %}
          {% #list_group_item %}
            <form action="{{ group_comment_create_url }}" method="POST" aria-label="group-comment-form">
              {% csrf_token %}
              {% if request.user.output_checker and release_request.get_turn_phase.name == "INDEPENDENT" %}
                {% #alert variant="warning" title="Comments are hidden" dismissible=True %}
                  Only you will see this comment until two independent reviews have been submitted
                {% /alert %}
              {% else %}
                {% #alert variant="info" title="Comments are pending" no_icon=True %}
                  Any comments will be shown to other users once you submit or return a request
                {% /alert %}
              {% endif %}

              {% form_textarea field=group_comment_form.comment placeholder=" " label="Add Comment" show_placeholder=True class="w-full max-w-lg" rows=6 required=False %}
              {% if group_comment_form.visibility.field.choices|length == 1 %}
                <input type="hidden" name="visibility" value="{{ group_comment_form.visibility.field.choices.0.0 }}"/>
              {% else %}
                {% form_radios field=group_comment_form.visibility choices=group_comment_form.visibility.field.choices class="w-full max-w-lg" %}
              {% endif%}
              <div class="mt-2">
                {% #button type="submit" variant="success" id="edit-comment-button" %}Comment{% /button %}
              </div>
            </form>
          {% /list_group_item %}
        {% endif %}
      {% /list_group %}
    </div>
  {% endif %}

  {% include "activity.html" with activity=group_activity %}

{% /card %}
