{% #card title=path_item.name container=True %}
  {% if show_c3 %}
    <form action="{{ group_edit_url }}" method="POST" aria-label="group-edit-form">
      {% csrf_token %}
      <div style="display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; gap: 1rem;">
        <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1;">
          {% form_textarea field=group_edit_form.context show_placeholder=True resize=True placeholder="Describe the data to be released in this group of files" class="w-full max-w-lg mx-auto" rows=6 disabled=group_readonly readonly=group_readonly %}
        </div>
        <div style="display: flex: flex-direction: column; flex-basis: 100%; flex: 1; gap: 1rem;">
          {% form_textarea field=group_edit_form.controls resize=True show_placeholder=True placeholder="Describe the disclosure controls that have been applied to these files" class="w-full max-w-lg mx-auto" rows=6 disabled=group_readonly readonly=group_readonly %}
        </div>
      </div>
      {% if not group_readonly %}
        <div class="mt-2">
          {% #button type="submit" variant="success" id="edit-group-button" disabled=group_readonly %}Save{% /button %}
        </div>
      {% endif %}
    </form>

    <div class="comments" style="margin-top: 1rem;">
      {% #list_group %}
        {% for comment in group_comments %}
          {% #list_group_rich_item status_text=comment.created_at|date:"Y-m-d H:i"  title=comment.author %}
            {{ comment.comment }}
          {% /list_group_rich_item %}
        {% endfor %}
        {% #list_group_item %}
          <form action="{{ group_comment_url }}" method="POST" aria-label="group-comment-form">
            {% csrf_token %}
            {% form_textarea field=group_comment_form.comment placeholder=" " label="Add Comment" show_placeholder=True class="w-full max-w-lg" rows=6 required=True %}
            <div class="mt-2">
              {% #button type="submit" variant="success" id="edit-comment-button" %}Comment{% /button %}
            </div>
          </form>
        {% /list_group_item %}
      {% /list_group %}
    </div>
  {% endif %}
  {% include "activity.html" with activity=group_activity %}

{% /card %}
