{% extends "base.html" %}

{% block content %}

{% #article_header title="File Browser" %}
{% /article_header %}

<div class="flex flex-row">

  <div style="flex-basis: 25%">

    {% #card %}
      {% #list_group %}
        {% if not path_item.parent %}
          {% list_group_empty icon=True title="Workspace Root" %}
        {% else %}
          {% #list_group_item href=path_item.parent.url %}
            ↰ ..
          {% /list_group_item %}
          {% for entry in path_item.siblings %}
            {% #list_group_item href=entry.url %}
              {{ entry.name}}
              {% if entry.is_directory %}
                {% icon_folder_outline class="h-6 w-6 text-slate-600 inline" %}
              {% endif %}
            {% /list_group_item %}
          {% endfor %}
        {% endif %}
      {% /list_group %}
    {% /card %}

  </div>

  <div style="flex-basis: 75%">

    {% if path_item.is_directory %}

      {% #card title=path_item.name %}
        {% #list_group %}
          {% if not path_item.children %}
            {% list_group_empty icon=True title="Empty Directory" %}
          {% else %}
            {% for entry in path_item.children %}
              {% #list_group_item href=entry.url %}
                {{ entry.name}}
                {% if entry.is_directory %}
                  {% icon_folder_outline class="h-6 w-6 text-slate-600 inline" %}
                {% endif %}
              {% /list_group_item %}
            {% endfor %}
          {% endif %}
        {% /list_group %}
      {% /card %}

    {% else %}

      {% #card title=path_item.name %}

        {% if path_item.suffix == '.html' %}
          <iframe
            srcdoc="{{ path_item.contents }}"
            title="{{ path_item.relpath }}"
            frameborder=0
            height=1000
            style="width: 100%;"
          >
          </iframe>
        {% else %}
           <pre><code>{{ path_item.contents }}</code></pre>
        {% endif %}
      {% /card %}

    {% endif %}

  </div>

</div>

{% endblock content %}
