{% extends "base.html" %}

{% load static %}
{% load django_vite %}
{% load django_htmx %}

{% block extra_styles %}
  <style>

/* tree styles */
    ul.tree {
      list-style: none;
    }

    ul.tree details ul {
      border-left: 1px dotted grey;
      padding-left: 0.75rem;
      margin-left: 0.5rem;
    }

    .tree summary {
      cursor: pointer;
    }

    .tree summary:has(>a.selected), .tree li:has(>a.selected) {
      background-color: lightblue;
    }

    .tree .selected {
      font-weight: bold;
      cursor: pointer;
    }

    .tree .filegroup {
      text-transform: uppercase;
    }

    .tree summary:has(>a.filegroup) {
      background-color: lightgrey;
    }

    .tree a.dir {
      background-image: url("{% static "folder.png" %}");
      background-repeat: no-repeat;
      background-size: 1.4rem;
      background-position: left 0 top 0;
      padding-left: 1.3rem;
    }
    .tree summary {
      padding-left: 0.25rem;
    }


    .content {
      width:100%;
      max-width: 100%;
    }

    .content-scroller {
      height: 75vh;
      overflow: scroll;
    }

    .datatable thead {
      position: sticky;
      top: 0;
      text-align: left;
    }


  </style>
{% endblock extra_styles %}

{% block full_width_content %}

  {% fragment as action_button %}
    <div class="flex items-center gap-2">
      {% if context == "request" %}
        {% if is_author %}
          {% if release_request.status.name == "PENDING" %}
            <form action="{{ request_submit_url }}" method="POST">
              {% csrf_token %}
              {% #button type="submit" tooltip="This request is ready to be reviewed" variant="success" class="action-button" id="submit-for-review-button" %}Submit For Review{% /button %}
            </form>
          {% endif %}
        {% elif is_output_checker %}
          {% if release_request.status.name == "SUBMITTED" %}
            <form action="{{ request_reject_url }}" method="POST">
              {% csrf_token %}
              {% #button type="submit" tooltip="Reject this request" variant="danger" class="action-button" id="reject-request-button" %}Reject Request{% /button %}
            </form>
            <form action="{{ release_files_url }}" method="POST">
              {% csrf_token %}
              {% #button type="submit" tooltip="Release files to jobs.opensafely.org" variant="warning" id="release-files-button" %}Release Files{% /button %}
            </form>
          {% endif %}
        {% endif %}
        {% #button type="link" href=workspace.get_url variant="success" id="workspace-home-button" %}Workspace Home{% /button %}
      {% elif current_request %}
        {% #button variant="success" type="link" href=current_request.get_url id="current-request-button" %}Current release request{% /button %}
      {% endif %}
    </div>
  {% endfragment %}

  {% #card title=title custom_button=action_button %}
    {% if context == "request" %}
      {% #description_item title="Status:" %}{{ release_request.status.name }}{% /description_item %}
    {% endif %}
  {% /card %}

  {% #breadcrumbs %}
    {% for crumb in path_item.breadcrumbs %}
      {% breadcrumb title=crumb.name url=crumb.url active=forloop.last %}
    {% endfor %}
  {% /breadcrumbs %}

  <div class="flex flex-row">

    <div style="flex-basis: 25%">
      {% #card %}
        <ul id="tree" class="tree root"
            hx-boost="true"
            hx-target="#selected-contents"
            hx-select="#selected-contents"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-on:htmx:after-request="setTreeSelection(this, event)"
        >
          {% include "file_browser/tree.html" with path=root %}
        </ul>
      {% /card %}
    </div>

    <div style="flex-basis: 75%; max-width: 75%">
      {% include "file_browser/contents.html" %}
    </div>
  </div>

{% endblock full_width_content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'htmx-1.9.10.min.js' %}"></script>
  {% django_htmx_script %}

  <script type="text/javascript">
    // keep the selected class up to date in the tree on the client side
    function setTreeSelection(tree, event) {
      // target here is the hx-get link that has been clicked on

      // remove class from currently selected node
      tree.querySelector('.selected')?.classList.remove('selected');

      let target = event.srcElement;

      // set current selected
      target.classList.add('selected');
      // ensure parent details container is open, which means clicking on a directory will open containers.
      target.closest("details").open = true;

      // if target link is a filegroup, ensure all child <details> are opened, to match server-side rendering of tree
      if (target.classList.contains("filegroup")) {
        target.closest("li.tree").querySelectorAll("details").forEach((e) => e.open = true)
      }
    }
  </script>
{% endblock %}
