{% extends "base.html" %}

{% load django_vite %}

{% block extra_styles %}
<style>

/* tree styles */
ul.tree {
  list-style: none;

  details ul {
    border-left: 1px dotted grey;
    padding-left: 0.75rem;
    margin-left: 0.5rem;
  }
}


.tree summary {
  cursor: pointer;
}

summary:has(>a.selected), li:has(>a.selected) {
    background-color: lightblue;
}

.tree .selected {
    font-weight: bold;
    cursor: pointer;
}


.tree .filegroup {
    text-transform: uppercase;
}

summary:has(>a.filegroup) {
    background-color: lightgrey;
}

summary { 
    padding-left: 0.25rem; 
}

div.content {
    padding: 0.5rem;
}
/* ths attempt at a nice selected highlight doesn't quite work
.tree li {
  position: relative;
}

&::before {
  background: rgba(0, 255, 0, 0.1);
  content: "";
  position: absolute;
  left: -100vw;
  height: 100%;
  width: 100vw;
}
*/

</style>
{% endblock extra_styles %}

{% block full_width_content %}

{% fragment as action_button %}
<div class="flex items-center gap-2">
    {% if context == "request" %}
        {% if is_author %}
            {% if release_request.status.name == "PENDING" %}
            <form action="{{ request_submit_url }}" method="POST">
                {% csrf_token %}
                {% #button type="submit" tooltip="This request is ready to be reviewed" variant="success" class="action-button" id="submit-for-review-button" %}Submit For Review{% /button %}
            </form>
            {% endif %}
        {% elif is_output_checker %}
            {% if release_request.status.name == "SUBMITTED" %}
            <form action="{{ request_reject_url }}" method="POST">
                {% csrf_token %}
                {% #button type="submit" tooltip="Reject this request" variant="danger" class="action-button" id="reject-request-button" %}Reject Request{% /button %}
            </form>
            <form action="{{ release_files_url }}" method="POST">
                {% csrf_token %}
                {% #button type="submit" tooltip="Release files to jobs.opensafely.org" variant="warning" id="release-files-button" %}Release Files{% /button %}
            </form>
            {% endif %}
        {% endif %}
        {% #button type="link" href=workspace.get_url variant="success" id="workspace-home-button" %}Workspace Home{% /button %}
    {% endif %}
</div>
{% endfragment %}

{% #card title=title custom_button=action_button %}  
{% if context == "request" %}
{% #description_item title="Status:" %}{{ release_request.status.name }}{% /description_item %}
{% endif %}
{% /card %}

{% #breadcrumbs %}
    {% for crumb in path_item.breadcrumbs %}
        {% breadcrumb title=crumb.name url=crumb.url active=forloop.last %}
    {% endfor %}
{% /breadcrumbs %}

<div class="flex flex-row">

  <div style="flex-basis: 25%">

    {% #card %}
      {% if tree %}
        <ul class="tree root">
        {% include "file_browser/tree.html" with path=root %}
        </ul>
      {% else %}
        {% #list_group %}
          {% if not path_item.parent %}
            {% list_group_empty icon=True title=context|title|add:" Root" %}   
          {% else %}
            {% #list_group_item href=path_item.parent.url %}
                ↰ ..
            {% /list_group_item %}
            {% for entry in path_item.siblings %}
                {% #list_group_item href=entry.url %}
                {{ entry.name}}
                {% if entry.is_directory %}
                    {% icon_folder_outline class="h-6 w-6 text-slate-600 inline" %}
                {% endif %}
                {% /list_group_item %}
            {% endfor %}
          {% endif %}
        {% /list_group %}
      {% endif %}
 

      {% #card_footer no_container=False %}
      {% if context == "requestasdfadfs" %}
        <div class="px-4">
          {% #button variant="primary-outline" type="button" data-modal="viewFileGroups" %}
            View File Groups
          {% /button %}
        </div>
        {% #modal id="viewFileGroups" %}
          {% #card container=True title="File Groups for this request" %}
            {% for group in release_request.filegroups.values %}
              {{ group.name}}
              {% #list_group %}
              {% for file in group.files %}
                {% #list_group_item %}
                  {{ file.relpath }}
                {% /list_group_item %}
              {% endfor %}
              {% /list_group %}
            {% endfor %}
            {% #button variant="secondary" type="cancel" %}Close{% /button %}
          {% /card %}
        {% /modal %}
        {% endif %}
      {% /card_footer %}
  {% /card %}

  </div>

  <div style="flex-basis: 75%; max-width: 75%">

    {% if path_item.is_directory %}

      {% #card title=path_item.name %}
        {% #list_group %}
          {% if not path_item.children %}
            {% list_group_empty icon=True title="Empty Directory" %}
          {% else %}
            {% for entry in path_item.children %}
              {% #list_group_item href=entry.url %}
                {{ entry.name}}
                {% if entry.is_directory %}
                  {% icon_folder_outline class="h-6 w-6 text-slate-600 inline" %}
                {% endif %}
              {% /list_group_item %}
            {% endfor %}
          {% endif %}
        {% /list_group %}
      {% /card %}

    {% else %}
      {% fragment as add_button %}
        {% if context == "workspace" %}
            {% #button variant="success" type="button" tooltip="Add this file to the current request, starting a new one if needed" data-modal="addRequestFile" id="add-file-modal-button"%}
              Add File to Request
            {% /button %}
            {% #modal id="addRequestFile" %}
              {% #card container=True title="Add a file" %}
                <form action="{{ request_file_url }}" method="POST" aria-label="add-file-form">
                  {% csrf_token %}
                  {% form_select class="w-full max-w-lg mx-auto" label="Select a file group" field=form.filegroup choices=form.filegroup.field.choices %}
                  {% form_input class="w-full max-w-lg mx-auto" label="Or create a new file group" field=form.new_filegroup %}
                  <input type=hidden name="path" value="{{ path_item.relpath }}"/>
                  <div class="mt-2">
                    {% #button type="submit" variant="success" id="add-file-button" %}Add File to Request{% /button %}
                    {% #button variant="danger" type="cancel" %}Cancel{% /button %}
                  </div>
                </form>
                {% /card %}
            {% /modal %}
        {% elif is_author %}
          <form action="" method="POST">
            {% csrf_token %}
            {% #button type="submit" tooltip="Remove this file from this request" variant="warning" %}Remove File from Request{% /button %}
          </form>
 
        {% endif %}
      {% endfragment %}

      {% #card title=path_item.name custom_button=add_button %}

        <div class="content">
            {% if path_item.suffix == '.html' %}
            <iframe
                srcdoc="{{ path_item.contents }}"
                title="{{ path_item.relpath }}"
                frameborder=0
                height=1000
                style="width: 100%;"
            >
            </iframe>
            {% else %}
            {% #code %}
            <pre>{{ path_item.contents }}</pre>
            {% /code %}
            {% endif %}
        </div>
      {% /card %}

    {% endif %}

  </div>

</div>

{% endblock full_width_content %}

{% block extra_js %}
  {% vite_asset "templates/_components/modal/modal.js" %}
{% endblock %}
