{% for child in path.children %}
  <li class="tree tree__item">
    {% if child.is_directory %}
      <details class="tree__folder group" {% if child.expanded %}open{% endif %}>
        <summary class="tree__folder-name">
          <span class="tree__folder-arrows"></span>
          <span class="tree__folder-icons"></span>
          <a class="tree__folder-link {{ child.html_classes }}" href="{{ child.url }}">{{ child.display }}</a>
        </summary>
        {% if child.children %}
          <ul class="tree tree__child-list">
            {% include "file_browser/tree.html" with path=child %}
          </ul>
        {% endif %}
      </details>
    {% else %}
      <span id="{{ child.slug }}">
        {% with path_item=child %}
          {% include "file_browser/_includes/file_leaf.html" %}
        {% endwith %}
      </span>
    {% endif %}
  </li>
{% endfor %}
