/* Page layout */
.browser {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  min-height: 100%;
  padding-inline: 1rem;
}

.browser__files {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  grid-column: 1 / 1;
  overflow: scroll;
}

.browser__content {
  grid-column: 2 / -1;
}

.browser__content > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Tree */
.tree__root {
  --tree-font-size: 14px;
  --tree-line-height: 22px;

  font-size: var(--tree-font-size);
  line-height: var(--tree-line-height);
  list-style: none;
}

.tree__root > .tree__item:first-child {
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.tree__item {
  display: inline-block;
}

.tree__folder-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.tree__folder-name::marker,
.tree__folder-name::-webkit-details-marker {
  display: none;
}

.tree__folder-name:has(> .filegroup)::before {
  background-color: var(--color-gray-100);
  border-left: 0.25rem solid var(--color-gray-100);
  content: "";
  height: calc(var(--tree-line-height) + 1px);
  left: 0;
  position: absolute;
  width: calc(100% + 1rem);
  z-index: -2;
}

.tree__folder-icon,
.tree__file-icon,
.tree__folder-arrow {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.tree__folder-icon {
  filter: invert(43%) sepia(53%) saturate(2387%) hue-rotate(201deg)
    brightness(97%) contrast(100%);
  margin-inline: 0.1rem 0.25rem;
}

.tree__file-icon {
  filter: invert(31%) sepia(1%) saturate(0%) hue-rotate(9deg) brightness(97%)
    contrast(86%);
  margin-left: 0.25rem;
}

.tree__folder-icon--closed,
.tree__folder-arrow--closed {
  display: inline-block;
}

.tree__folder[open] > .tree__folder-name > .tree__folder-icon--closed,
.tree__folder[open] > .tree__folder-name > .tree__folder-arrow--closed {
  display: none;
}

.tree__folder-icon--open,
.tree__folder-arrow--open {
  display: none;
}

.tree__folder[open] > .tree__folder-name > .tree__folder-icon--open,
.tree__folder[open] > .tree__folder-name > .tree__folder-arrow--open {
  display: inline-block;
}

.tree__child-list {
  border-left: 1px dotted grey;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  padding-left: 5px;
}

.tree__file {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  z-index: 1;
}

.tree__file-name {
  padding-right: 0.5rem;
  white-space: nowrap;
}

.tree__folder-link::before,
.tree__file::before {
  --file-bg: white;
  --file-border: white;

  background-color: var(--file-bg);
  border-left: 0.25rem solid var(--file-border);
  content: "";
  height: calc(var(--tree-line-height) + 1px);
  left: 0;
  position: absolute;
  width: calc(100% + 1rem);
  z-index: -2;
}

.selected.tree__folder-link::before,
.selected.tree__file::before {
  --file-bg: var(--color-blue-50);
  --file-border: var(--color-blue-50);
}

.tree__file.withdrawn {
  .tree__file-icon {
    filter: invert(21%) sepia(17%) saturate(6756%) hue-rotate(338deg)
      brightness(95%) contrast(105%);
  }

  .tree__file-name {
    color: var(--color-red-800);
    text-decoration: line-through;
  }

  &::before {
    --file-bg: var(--color-red-50);
    --file-border: var(--color-red-600);
  }
}

.tree__file.supporting .tree__file-name {
  font-style: italic;
}

/* File Card */
#fileCard h2 {
  font-size: 1.1rem;
  line-height: 1.1;
}

.file-status {
  --status-color: var(--color-slate-900);
  --status-bg: var(--color-slate-200);

  align-items: center;
  background-color: var(--status-bg);
  border-radius: 0.375rem;
  color: var(--status-color);
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.25rem 0.75rem;
}

.file-status--success {
  --status-color: var(--color-green-800);
  --status-bg: var(--color-green-100);
}

.file-status--danger {
  --status-color: var(--color-red-800);
  --status-bg: var(--color-red-100);
}

.file-status--warning {
  --status-color: var(--color-yellow-800);
  --status-bg: var(--color-yellow-100);
}

/* More dropdown */
.more-dropdown {
  display: flex;
  position: relative;
}

.more-dropdown__btn {
  align-items: center;
  background: white;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.375rem;
  color: var(--color-gray-900);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.more-dropdown__btn:focus,
.more-dropdown__btn:active {
  outline: 2px solid var(--color-oxford-600);
  outline-offset: 2px;
}

.more-dropdown__nav {
  background: white;
  border-radius: 0.375rem;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0.25 0;
  position: absolute;
  right: 0;
  transform-origin: top right;
  width: 14rem;
}

.more-dropdown__link {
  align-items: center;
  color: var(--color-gray-700);
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  gap: 0.75rem;
}

.more-dropdown__btn:hover,
.more-dropdown__link:hover {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-400);
  color: var(--color-gray-700);
}

.more-dropdown__icon {
  filter: invert(76%) sepia(12%) saturate(264%) hue-rotate(179deg)
    brightness(83%) contrast(93%);
  height: 1.25rem;
  width: 1.25rem;
}

/* Approve/Reject button group */
.btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.btn-group__btn {
  border: 1px solid var(--color-gray-400);
  color: var(--color-gray-900);
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
}

.btn-group__btn:hover,
.btn-group__btn:focus {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-400);
  color: var(--color-gray-700);
}

.btn-group__btn--left {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  margin-left: 0;
}

.btn-group__btn--right {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.btn-group__btn--active {
  background-color: var(--color-gray-600);
  border-color: var(--color-gray-700);
  color: white;
}

.btn-group__btn--active:hover,
.btn-group__btn--active:focus {
  background-color: var(--color-gray-500);
  border-color: var(--color-gray-500);
  color: white;
}
