/* Page layout */
.browser {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  min-height: 100%;
  padding-inline: 1rem;
}

.browser__files {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  grid-column: 1 / 1;
  overflow: scroll;
}

.browser__content {
  grid-column: 2 / -1;
}

.browser__content > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Tree */
.tree__root {
  --tree-font-size: 14px;
  --tree-line-height: 22px;

  font-size: var(--tree-font-size);
  line-height: var(--tree-line-height);
  list-style: none;
}

.tree__root > .tree__item:first-child {
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.tree__item {
  display: inline-block;
}

.tree__item > .supporting {
  font-style: italic;
}

.tree__item > .withdrawn {
  font-style: italic;
  text-decoration: line-through;
}

.tree__folder-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
  padding: 0 0.25rem;
}

.tree__folder-name::marker,
.tree__folder-name::-webkit-details-marker {
  display: none;
}

.tree__folder-name:has(> .filegroup) {
  background-color: lightgrey;
}

.tree__folder-icon,
.tree__file-icon {
  filter: invert(31%) sepia(1%) saturate(0%) hue-rotate(9deg) brightness(97%)
    contrast(86%);
  cursor: pointer;
}

.tree__folder-icon--closed {
  display: inline-block;
}

.tree__folder[open] > .tree__folder-name > .tree__folder-icon--closed {
  display: none;
}

.tree__folder-icon--open {
  display: none;
}

.tree__folder[open] > .tree__folder-name > .tree__folder-icon--open {
  display: inline-block;
}

.tree__child-list {
  border-left: 1px dotted grey;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  padding-left: 6px;
}

.tree__file {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  z-index: 1;
}

.tree__file-name {
  padding-right: 0.5rem;
}

.selected.tree__folder-link::before,
.selected.tree__file::before {
  background-color: var(--color-oxford-100);
  content: "";
  height: calc(var(--tree-line-height) + 1px);
  left: 0;
  position: absolute;
  transform: translateX(-50%);
  width: 200%;
  z-index: -2;
}
